Repository jdi-testing/jdi-light, pull requests merged in 2019-11, with the labels that each got.

#1237 #989 Fix warning level Codacy found issues: Avoid unused private meth…
  jdi-performance/src/main/java/org/mytests/uiobjects/example/site/custom/MultiDropdown.java
Labels: codacy issues

#1242 deleted comments and fixed clickable tests
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/Switches.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/SwitchesTests.java
Labels: bootstrap

#1248 1226 validated form
  bootstrap_forms.html
  css/bootstrap-validated-form.css
  js/bootstrap-validated-form.js
Labels: bootstrap

#1236 987 fixed codacy in bootstrap-tests TestInit equalsIgnoreCase
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/TestsInit.java
  jdi-light-html-tests/src/test/java/io/github/epam/TestsInit.java
Labels: codacy issues

#1254 Validation form bug fixed
  bootstrap_forms.html
  js/bootstrap-validated-form.js
Labels: bootstrap

#1277 1268 dedicated appium page
  appium-html5.html
  bootstrap.html
  bootstrap_form.html
  bootstrap_forms.html
  html5.html
  js/utils.js
  react-ant.html
Labels: bootstrap, markup

#1278 Fully name to short name
  jdi-light-bdd/src/main/java/com/epam/jdi/bdd/JDISteps.java
  jdi-light-bdd/src/main/java/com/epam/jdi/bdd/stepdefs/TableSteps.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/WebDriverByUtils.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/composite/WebPage.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/init/InitActions.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/init/entities/collection/EntitiesCollection.java
Labels: codacy issues

#1274 1226 bootstrap form validation
  jdi-light-bootstrap-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/entities/SimpleContact.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapFormPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormCustomStyles.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormValidationForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormValidationSection.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/BootstrapValidationTest.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/SelectMenu.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/Form.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/composite/Form.java
Labels: bootstrap

#1280 Page renamed
  js/utils.js
  mobile-html5.html
Labels: bootstrap, markup

#1282 added ids for dropdown menu content
  bootstrap.html
Labels: markup

#1298 1219 bootstrap forms tests
  .gitignore
  jdi-light-bootstrap-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/entities/Superhero.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/entities/SupportMessage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapFormPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapFormsPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/SuperheroForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/SupportMessageForm.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/BootstrapValidationTest.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/ComplicatedFormTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/SimpleFormTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/test/data/Superheroes.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/test/data/SupportMessages.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/composite/Form.java
Labels: bootstrap

#1303 Refactor dropdown
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DisabledMenuItemTest.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownActiveTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownMenuItemsTest.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownOptionsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/BootstrapDropdownAssert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/DropdownMenuAssert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/BootstrapDropdown.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/DropdownMenu.java
Labels: bootstrap

#1302 refactored method highlightFocusedItemsTests()
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/scrollspy/ScrollSpyWithNestedNavTests.java
Labels: bootstrap

#744 Fixed test in framework.
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputGroup/InputGroupRadioTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/RadioButtons.java
Labels: bootstrap

#1324 Update HtmlElementsPage.java
  jdi-light-html-tests/src/main/java/io/github/com/pages/HtmlElementsPage.java
Labels: Code Style Issue, waiting for review

#1276 1078 create unit tests for has attr
  jdi-light/src/test/java/mockitotests/HasAttrMockTests.java
Labels: bootstrap

#1323 RadioButtoN,RadioButtonAssert classes removed,FormHorisontalTets fixe…
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/CheckboxAndRadioButtonCustomDisabled.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/CheckboxesAndRadiosWithoutLabels.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormHorizontal.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormValidationSection.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/RadioButtonGroup.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/RadioButtonsCustom.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/RadioButtonsCustomInline.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/RadioButtonsDefaultInline.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithRadio.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/CheckboxAndRadioButtonCustomDisabledTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/CheckboxesAndRadiosWithoutLabelsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormHorizontalTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/RadioButtonCustomTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/RadioButtonTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/RadioButtonsCustomInlineTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/RadioButtonsDefaultInlineTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/RadioButtonAssert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/RadioButton.java
Labels: bootstrap

#1333 import com.epam.jdi.light.elements.complex.dropdown.Dropdown
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarComplexLinks.java
Labels: bootstrap

#1321 1225 bootstrap menu form
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/dropdown/DropdownForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormDropdownLogin.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownFormTest.java
Labels: bootstrap

#1322 Added NPath Compexity warning supress
  jdi-light/src/main/java/com/epam/jdi/light/driver/WebDriverFactory.java
Labels: bootstrap, codacy issues

#1332 Replace global variables by a local variables
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/card/CardKitchenSinkTests.java
Labels: bootstrap

#1273 1228 j list issue test
  jdi-light/src/test/java/mockitotests/TheSameTextOfElementsMockTests.java
Labels: bootstrap

#1344 1309 refactor bootstrap element progress
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/progress/ProgressMultipleBars.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/common/progress/ProgressAnimatedStripesTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/common/progress/ProgressBackgroundTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/common/progress/ProgressBaseTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/complex/MultiplebarsProgressTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/ProgressMultipleBarsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/listprogressbars/ProgressBarsListTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/ProgressAssert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Progress.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/MultiplebarsProgress.java
Labels: bootstrap

#1329 removed useless forms test,declaration,on BootstrapPage (#1326)
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/dropdown/DropdownForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormBrowserDefaults.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormColumnSizing.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormCustomStyles.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormDisabled.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormGrid.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormHelpText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormHorizontal.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormHorizontalLabelSizing.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormInlinePreference.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormInlineUsername.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormOverview.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormRow.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormServerSide.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormTooltip.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormsSizing.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormBrowserDefaultsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormColumnSizingTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormCustomStyleTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormDisabledTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormGridTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormHelpTextTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormHorizontalLabelSizingTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormHorizontalTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormInlineTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormOverviewTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormReadOnlyTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormRowTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormServerSideTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormTooltipTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/form/FormsSizingTests.java
Labels: bootstrap

#1352 1122 dropdown menu content: Header, Divider, Text
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/dropdown/DropdownMenuContent.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownMenuContentTests.java
Labels: bootstrap

#1355 Renamed method childs() to children()
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownMenuContentTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownOptionsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/card/CardImageCapsTest.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/modal/ModalOptionalSizesTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/modal/ModalVerticallyCenteredTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navbar/ExternalContentTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navbar/NavbarBrandTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/spinner/SpinnerAlignmentTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/CardImageCapsAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/common/UIElement.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/interfaces/base/ICoreElement.java
Labels: bootstrap

#1346 1299 - Links to example for bootstrap elements are provided
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Alert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Badge.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/BaseImage.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Breadcrumb.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Button.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Checkbox.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/ColorSpinner.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Image.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Link.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/MultipleInputs.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Progress.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Range.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/SelectMenu.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Spinner.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Text.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/TextArea.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/TextField.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Tooltip.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/VectorImage.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/ButtonGroup.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/ButtonWithSpinner.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/Card.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/CardImageCaps.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/Carousel.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/Collapse.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/ListGroup.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/Pagination.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/Popover.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/RadioButtons.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/BootstrapDropdown.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/DropdownMenu.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/Form.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/MediaObject.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/Modal.java
Labels: bootstrap

#1353 1198 create file input element for bootstrap
  jdi-light-bootstrap-tests/pom.xml
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/InputFileSection.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupCustomFileInput.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupCustomUploadFile.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/FileUploadTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupBaseExample.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupButtonAddonsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupButtonWithDropdownTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupCheckboxesTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupCustomFileInputTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupCustomSelect.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupCustomSelectWithButton.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupMultipleAddonsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupRadioTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupSegmentedButtonTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupSizingTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupWrapping.java
  jdi-light-bootstrap/pom.xml
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/common/FileUploadTests.java
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/elements/common/FileInput.java
Labels: bootstrap

#1366 Link element will now be used from jdi-light-html package
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardNavigation.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithSubtitlesAndLinks.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/EmbeddedVideoModalFrame.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalTooltipsAndPopoversBody.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarColorScheme.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarComplexLinks.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarPlacement.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarSimpleLinks.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarSupportedContent.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarTextLinks.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarWithDropdown.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navs/NestedNav.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navbar/NavbarColorSchemeTests.java
  jdi-light-bootstrap/pom.xml
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/LinkAssert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Link.java
Labels: bootstrap, cleanup

#1370 1361_Bootstrap_elements_cleanup_Text
  jdi-light-bootstrap-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapFormsPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/Jumbotron.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/MediaObjectNesting.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/MediaObjectSample.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/Toast.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardBody.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardExample.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardGrouped.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardHorizontal.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardImage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardImageCaps.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardKitchenSink.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardMixinsUtilities.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardNavigation.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardStyled.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardTextAlignment.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardUtilities.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithCustomCss.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithGridMarkup.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithHeaderAndFooter.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithSubtitlesAndLinks.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithinCardColumns.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/OverlaySection.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/dropdown/DropdownMenuContent.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/CustomSelect.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithLabelAndText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithTwoText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupTextareaWithText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalLiveDemo.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalTooltipsAndPopoversBody.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/gridmodal/GridModalWindow.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarExternalContent.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarTextLinks.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownMenuContentTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Text.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/Popover.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/Modal.java
Labels: cleanup

#1369 1357 - Bootstrap Button class has been replaced with corresponding ht…
  jdi-light-bootstrap-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/ButtonAddons.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/Jumbotron.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/Toast.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/buttongroup/ButtonGroupBasicExample.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/buttongroup/ButtonGroupNesting.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/buttongroup/ButtonGroupSizing.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/buttongroup/ButtonGroupVerticalVariation.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/buttongroup/ButtonWithDropdown.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardExample.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardNavigation.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardTextAlignment.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardUtilities.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithCustomCss.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithGridMarkup.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/card/CardWithHeaderAndFooter.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormDropdownLogin.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormValidationForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/SuperheroForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/SupportMessageForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/CustomSelectWithButton.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/SegmentedButton.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/EmbeddedVideoModalFrame.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalLiveDemo.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalOptionalSizes.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalTooltipsAndPopovers.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalTooltipsAndPopoversDialog.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalVaryingContent.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalVerticallyCentered.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/SectionModalLongScrolling.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/gridmodal/GridModalSection.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/gridmodal/GridModalWindow.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/gridmodal/ModalFooterSaveClose.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarColorScheme.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarSupportedContent.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/common/ButtonTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/modal/ModalOptionalSizesTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/modal/ModalScrollingLongContentTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/modal/ModalVaryingContentTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/modal/ModalVerticallyCenteredTests.java
  jdi-light-bootstrap/pom.xml
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Button.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/ButtonWithSpinner.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/Popover.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/composite/BootstrapDropdown.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/interfaces/base/HasBadge.java
Labels: bootstrap, cleanup

#1373 1362 Bootstrap elements cleanup: TextField
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/ButtonAddons.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/ButtonToolbar.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/buttongroup/ButtonWithDropdown.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormDropdownLogin.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/FormValidationForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/ReadonlyPlainText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/SuperheroForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/SupportMessageForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithCheckBox.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithLabelAndText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithRadio.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupInputWithTwoText.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupMultipleAddonsLower.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupMultipleAddonsUpper.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/InputGroupSizing.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/inputgroup/SegmentedButton.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/modal/ModalVaryingContent.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarColorScheme.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/navbar/NavbarSupportedContent.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/dropdown/DropdownFormTest.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/inputgroup/InputGroupMultipleAddonsTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/TextFieldAssert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/TextField.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/complex/ButtonWithSpinner.java
Labels: bootstrap, cleanup

#1292 Classes rename with Utils or Helper at the end
  jdi-light-bdd-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-bdd-tests/src/main/java/io/github/com/entities/UsersUtils.java
  jdi-light-bdd-tests/src/main/java/io/github/com/enums/NavigationNumsUtils.java
  jdi-light-bdd-tests/src/main/java/io/github/com/pages/ContactFormPage.java
  jdi-light-bdd-tests/src/main/java/io/github/com/pages/GithubPage.java
  jdi-light-bdd-tests/src/main/java/io/github/com/pages/LogSidebar.java
  jdi-light-bdd-tests/src/test/java/cucmberTests/Runner.java
  jdi-light-bdd-tests/src/test/java/cucmberTests/stepdefs/UserStepdefs.java
  jdi-light-bdd/src/main/java/com/epam/jdi/bdd/stepdefs/CheckListSteps.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/entities/UserUtils.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/AlignmentTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/BaseTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/ClickVerificationUtils.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/FillAndJustifyTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/PillsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/PillsWithDropdownTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/TabsTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/TabsWithDropdownTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/navs/VerticalTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/scrollspy/ScrollSpyInNavbarTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/composite/section/scrollspy/ScrollSpyWithNestedNavTests.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/states/States.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/test/data/Users.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/test/data/UsersUtils.java
  jdi-light-examples/src/main/java/selenium/site/data/DefaultDataProviderUtils.java
  jdi-light-examples/src/test/java/io/github/epam/test/data/ListDataUtils.java
  jdi-light-examples/src/test/java/io/github/epam/test/data/TableDataUtils.java
  jdi-light-examples/src/test/java/io/github/epam/tests/google/ElementsGoogleTests.java
  jdi-light-examples/src/test/java/io/github/epam/tests/recommended/DataTableTests.java
  jdi-light-examples/src/test/java/io/github/epam/tests/recommended/TableTests.java
  jdi-light-examples/src/test/java/io/github/epam/tests/selenium/SeleniumContactForm.java
  jdi-light-html-tests/src/main/java/pseudo/site/PseudoSite.java
  jdi-light-html-tests/src/test/java/io/github/epam/CustomDriverTestsInit.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/composite/section/ExtendedSectionTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue67/SoftAsserts.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/JDISite69.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/site/steps/States.java
  jdi-light/src/main/java/com/epam/jdi/light/actions/ActionOverrideUtils.java
  jdi-light/src/main/java/com/epam/jdi/light/actions/ActionProcessor.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/core/SoftAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/WebDriverFactory.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/DriverInfo.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/RemoteDriverUtils.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/WebSettings.java
  jdi-performance/src/test/java/org/mytests/tests/states/States.java
Labels: bootstrap, codacy issues

#1380 1358 - discarding changes of html.checkbox import
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/CheckboxAndRadioButtonCustomDisabled.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/CheckboxesAndRadiosWithoutLabels.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/CheckboxesDefault.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/CheckboxesDefaultInline.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/Switches.java
Labels: bootstrap, cleanup

#1368 1061 test properties validation
  jdi-light/src/main/java/com/epam/jdi/light/common/Property.java
  jdi-light/src/main/java/com/epam/jdi/light/common/PropertyValidationUtils.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/WebSettings.java
  jdi-light/src/test/java/io/github/epam/properties/TimeoutWaitElementTests.java
Labels: bootstrap, param

#1450 1341 add strict check of parameters in test properties
  jdi-light/src/main/java/com/epam/jdi/light/common/Property.java
  jdi-light/src/main/java/com/epam/jdi/light/common/PropertyValidationUtils.java
  jdi-light/src/test/java/io/github/epam/properties/BrowserSizeTests.java
  jdi-light/src/test/java/io/github/epam/properties/PageCheckAfterOpenTests.java
  jdi-light/src/test/java/io/github/epam/properties/PageLoadStrategyTests.java
Labels: bootstrap

#1461 Fix to #1061
  jdi-light/src/main/java/com/epam/jdi/light/common/PropertyValidationUtils.java
  jdi-light/src/test/java/io/github/epam/properties/BrowserSizeTests.java
  jdi-light/src/test/java/io/github/epam/properties/PageCheckAfterOpenTests.java
  jdi-light/src/test/java/io/github/epam/properties/PageLoadStrategyTests.java
  jdi-light/src/test/java/io/github/epam/properties/TimeoutWaitElementTests.java
Labels: param

#1443 1360 bootstrap elements cleanup range
  jdi-light-bdd/src/main/java/com/epam/jdi/bdd/stepdefs/RangeSteps.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/RangeInput.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/sections/form/SuperheroForm.java
  jdi-light-bootstrap-tests/src/test/java/io/github/epam/bootstrap/tests/common/RangeTests.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/asserts/RangeAssert.java
  jdi-light-bootstrap/src/main/java/com/epam/jdi/light/ui/bootstrap/elements/common/Range.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/common/RangeTests.java
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/asserts/RangeAssert.java
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/elements/common/Range.java
Labels: bootstrap

#1441 #1343 - Add strict check of parameters in test.properties
  jdi-light/src/main/java/com/epam/jdi/light/common/Property.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/WebSettings.java
  jdi-light/src/test/java/io/github/epam/properties/ChromeCapabilitiesPathTests.java
  jdi-light/src/test/java/io/github/epam/properties/FFCapabilitiesPathTests.java
  jdi-light/src/test/java/io/github/epam/properties/IECapabilitiesPathTests.java
  jdi-light/src/test/java/io/github/epam/properties/SmartLocatorsTests.java
Labels: param

#1465 1343 improve check
  jdi-light/src/test/java/io/github/epam/properties/SmartLocatorsTests.java
Labels: bootstrap
