Repository jdi-testing/jdi-light, pull requests merged in 2020-12, with the labels that each got.

#2548 Update .codacy.yaml
  .codacy.yaml
Labels: ⚠ .Codacy

#2549 Update .codacy.yaml
  .codacy.yaml
Labels: ⚠ .Codacy

#2550 Update .codacy.yaml
  .codacy.yaml
Labels: ⚠ .Codacy

#2551 Update .codacy.yaml
  .codacy.yaml
Labels: ⚠ .Codacy

#2552 Update .codacy.yaml
  .codacy.yaml
Labels: ⚠ .Codacy

#2547 #2529 Adapt test for iOS Tab bar element
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/TabViewPage.java
  jdi-light-mobile-tests/src/test/java/epamiostestapp/tests/TabBarTest.java
Labels: iOS, mobile

#2545 #2524 Adapt test for iOS Switch element
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/ToggleSwitchPage.java
  jdi-light-mobile-tests/src/test/java/epamiostestapp/tests/SwitchTest.java
  jdi-light-mobile-tests/src/test/resources/iosApps.xml
Labels: iOS, mobile

#2546 Implemented android native popup menu tests
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/IndexPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/PopupPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/PopupTests.java
Labels: Android

#2556 #2523 Adapt tests for iOS Context menu element
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/ContextMenuPage.java
  jdi-light-mobile-tests/src/test/java/epamiostestapp/tests/ContextMenuTest.java
Labels: iOS, mobile

#2557 2508-implement_image_switcher_and_gallery
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/GalleryPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/ImageSwitcherPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/PickerPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/ViewsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/GalleryTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ImageSwitcherTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/complex/Images.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/complex/Spinner.java
Labels: Android

#2559 Popup menu tests fixing issues
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/PopupPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/PopupTests.java
Labels: Android

#2558 Replace app for EpamIOSTestAPP.zip
  jdi-light-mobile-tests/src/main/resources/EpamIOSTestAPP.zip
Labels: iOS, mobile

#2560 2247 android native radio buttons group
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/RadioButtonsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/ViewsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/RadioButtonsTests.java
Labels: Android

#2562 Changing all xpaths to objects
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/IndexPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/CheckboxTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileKeyboardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/PopupTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ProgressBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/RatingBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SearchViewTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/StatusBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/TabBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/TextFieldTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ToggleButtonTests.java
Labels: Android

#2563 #2522 Adapt tests for iOS Edit menu element
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/TextFieldPage.java
  jdi-light-mobile-tests/src/test/java/epamiostestapp/tests/EditMenuTest.java
  jdi-light-mobile-tests/src/test/resources/ios.properties
Labels: iOS, mobile

#2567 Rewrited all old tests
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ActionBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ActivityTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/CheckboxTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ClipBoardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ContextMenuTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ExpandableListTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/GalleryTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ImageSwitcherTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileDeviceTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileKeyboardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/PickersTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SearchViewTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SettingsAppTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SpinnerTest.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/StatusBarTests.java
Labels: Android

#2572 Updating ToolTip tests
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/GalleryPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/TooltipsTest.java
Labels: Android

#2573 Saucelabs connection with Travis
  .travis.yml
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/IOSAppInit.java
  jdi-light-mobile-tests/src/test/java/epamiostestapp/IosApplicationInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/ApiDemosTestInit.java
  jdi-light-mobile-tests/src/test/resources/android.properties
  jdi-light-mobile-tests/src/test/resources/ios.properties
  jdi-light-mobile-tests/src/test/resources/test.properties
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/settings/MobileSettings.java
Labels: mobile

#2575 Updating status bar tests
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/app/NotificationPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/app/StatusBarPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/StatusBarTests.java
Labels: Android

#2579 #2503 implement notification element
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/NotifyPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/app/NotificationPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/NotificationTests.java
  jdi-light-mobile-tests/src/test/resources/androidApps.xml
  jdi-light-mobile-tests/src/test/resources/test.properties
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/base/MobileAppBaseElement.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/Icon.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/MobileDevice.java
Labels: Android, mobile

#2580 Added new xml runner for system Android tests
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/test/resources/androidSystemTests.xml
Labels: Android

#2582 Properties for launch html web tests using ios
  jdi-light-mobile-html-web-tests/README.md
  jdi-light-mobile-html-web-tests/src/test/resources/ios.properties
Labels: iOS, mobile

#2586 Separated system tests for10&11 android oc
  README.md
  jdi-light-mobile-tests/README.md
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/main/java/nativeapp/android/NetworkAndInternetPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/NotificationTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ActivityTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ClipBoardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/MobileDeviceTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/MobileFileManagerTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/SettingsAppTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ToggleAirplaneModeTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ToggleButtonTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ToggleDataTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ToggleWiFiTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ActivityTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ClipBoardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/MobileDeviceTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/MobileFileManagerTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/SettingsAppTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleAirplaneModeTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleButtonTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleDataTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleWiFiTests.java
  jdi-light-mobile-tests/src/test/resources/android.properties
  jdi-light-mobile-tests/src/test/resources/android10SystemTests.xml
  jdi-light-mobile-tests/src/test/resources/android11SystemTests.xml
  jdi-light-mobile-tests/src/test/resources/androidApps.xml
  jdi-light-mobile-tests/src/test/resources/androidSystemTests.xml
Labels: Android

#2590 Deleted useless tests from ActionBar & Pickers
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/app/ActionBarDisplayOptionsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ActionBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/PickersTests.java
Labels: Android

#2589 Ios bootstrap and angular
  jdi-light-mobile-angular-web-tests/README.md
  jdi-light-mobile-angular-web-tests/src/test/resources/ios.properties
  jdi-light-mobile-bootstrap-web-tests/README.md
  jdi-light-mobile-bootstrap-web-tests/src/test/resources/ios.properties
  jdi-light-mobile-html-web-tests/README.md
Labels: iOS, mobile

#2591 Add environment to readme file
  jdi-light-mobile-tests/README.md
Labels: Android

#2592 Fix iOS RemindersAppTests to support iOS 14 #2489
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/reminders/EditDetailsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/reminders/RemindersListPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/reminders/RemindersPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_ios/tests/RemindersAppTests.java
Labels: iOS, mobile

#2593 Fix iOS ContactsAppTests to support iOS 14 #2487
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/contacts/ContactContextMenu.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/contacts/ContactsListPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_ios/tests/ContactsAppTests.java
Labels: iOS, mobile

#2594 Fix iOS MessagesAppTests to support iOS 14 #2488
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/messages/MessagesListPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_ios/tests/MessagesAppTests.java
Labels: iOS, mobile

#2595 Task2180 field declaration 1st page of issueList
  jdi-bdd-tests/src/main/java/io/github/com/pages/HtmlElementsPage.java
  jdi-bdd/src/main/java/com/epam/jdi/bdd/stepdefs/TableSteps.java
  jdi-light-applitools-tests/src/main/java/jdisite/entities/ContactInfo.java
  jdi-light-applitools-tests/src/main/java/jdisite/sections/ContactForm.java
  jdi-light-applitools-tests/src/main/java/org/mytests/uiobjects/example/entities/User.java
  jdi-light-html-tests/src/main/java/io/github/com/entities/UserInfo.java
  test-examples/jdi-light-examples/src/main/java/io/github/epam/sections/LoginForm.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/entities/MarvelUserInfo.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/knection/Workspace.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
  test-templates/jdi-light-junit-template/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
  test-templates/jdi-light-junit-template/src/main/java/org/mytests/uiobjects/example/site/sections/ContactForm.java
Labels: ⚠ .Codacy, ⚡️ Warning Level

#2600 Implement native iOS element: Labels #2304
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/IOSAppInit.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/LabelViewPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/MainPage.java
  jdi-light-mobile-tests/src/main/resources/EpamIOSTestAPP.zip
  jdi-light-mobile-tests/src/test/java/epamiostestapp/tests/LabelsTest.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/ios/InfoButton.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/ios/Label.java
Labels: iOS, mobile

#2603 Bootstrap hot fix
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
Labels: codacy issues
