Repository jdi-testing/jdi-light, pull requests merged in 2020-09, with the labels that each got.

#2297 Revert "Allure log aspectj"
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/performance/ListPerformanceTests.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/common/UIElement.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/DataList.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/WebList.java
Labels: bug

#2298 Revert "update version of lightsaber"
  jdi-light/pom.xml
Labels: bug

#2290 Adjusted MaterialSelectorContainer and DatepickerContainer classes.
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/select/CustomPanelStylingSelectTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/select/CustomTriggerTextSelectTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/MaterialSelectorContainerUnitTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/MaterialSelectorUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/composite/DatepickerContainer.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/composite/MaterialSelectorContainer.java
Labels: Angular

#2311 Adjusted MaterialSelector and MaterialSelectorContainer classes.
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/MaterialSelectorContainerUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/MaterialSelector.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/composite/MaterialSelectorContainer.java
Labels: Angular

#2280 2268 refractor radio buttons
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/RadioButtonSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/RadioButtonTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/RadioButtonsUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/RadioButtonsAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/RadioButtons.java
Labels: Angular

#2317 Added Ripple element and test cases.
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/RippleTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/RippleUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/RippleAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Ripple.java
Labels: Angular

#2321 Edited Travis build report (angular unit tests with mocks).
  .travis.yml
Labels: Angular

#2322 Adjusted Ripple element, RippleAssert and test case.
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/RippleTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/RippleAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Ripple.java
Labels: Angular

#2327 Added comments to related resources.
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Badge.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Checkbox.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Divider.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/ProgressSpinner.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/SlideToggle.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Slider.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/AutoComplete.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/ButtonToggle.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Card.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Datepicker.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/MaterialSelector.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/NativeSelector.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Paginator.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/RadioButtons.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Ripple.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Snackbar.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/TabGroup.java
Labels: Angular

#2331 Adjusred Ripple element.
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Ripple.java
Labels: Angular

#2320 #2248_android_toggle_button
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ButtonsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/IndexPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ViewsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/reminders/EditDetailsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/settings/LargerTextPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/ApiDemosTestInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ToggleButtonTest.java
  jdi-light-mobile-tests/src/test/resources/android.properties
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/ToggleButton.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/ios/PickerWheel.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/ios/Slider.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/ios/Switch.java
Labels: Android

#2336 Adjusted travis build. Added Chrome browser window size parameter.
  .travis.yml
Labels: jdi-core, jdi-light

#2340 Added ExpansionPanel element and test cases.
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/ExpansionPanelSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/ExpansionPanelTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/ExpansionPanelUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/ExpansionPanelAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/ExpansionPanel.java
Labels: Angular

#2345 Adjusted ExpansionPanel element.
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/ExpansionPanel.java
Labels: Angular

#2281 1966 tooltip
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/TooltipSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/BaseValidationsUtils.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/TooltipTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/TooltipUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/TooltipAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Tooltip.java
Labels: Angular

#2209 1948 menu tests
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/MenuSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/menu/BasicMenuTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/menu/MenuWithIconsTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/menu/NestedMenuTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/MenuUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/NestedDropdownMenuAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/NestedDropdownMenu.java
Labels: Angular

#2342 1950 sidenav tests
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/SideNavSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/BasicButtonTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/SideNavTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/SideNavUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/RadioButtons.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/SideNav.java
Labels: Angular

#2344 Update Travis yml to fix too long logs
  .travis.yml
Labels: travis

#2314 1964 bottom sheet and dialog tests
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/BottomSheetTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/DialogTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/BottomSheetUnitTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/DialogUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/BottomSheetAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/DialogAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/BottomSheet.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Dialog.java
Labels: Angular, jdi-light

#2354 Fix contact form page
  contacts.html
Labels: Angular, jdi-light

#2355 Replaced TextField name to First Name.
  jdi-bdd-tests/src/main/java/io/github/com/sections/ContactForm.java
  jdi-eyes-demo/src/main/java/jdisite/sections/ContactForm.java
  jdi-light-applitools-tests/src/main/java/jdisite/sections/ContactForm.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustom.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustomFill.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustomGet.java
  jdi-light-html-tests/src/main/java/io/github/com/entities/Contacts.java
  jdi-light-html-tests/src/main/java/io/github/com/entities/Users.java
  jdi-light-html-tests/src/main/java/io/github/com/sections/ContactForm.java
  jdi-light-html-tests/src/main/java/io/github/com/sections/ContactFormUI.java
  test-examples/jdi-light-examples/src/main/java/io/github/com/sections/ContactForm.java
  test-examples/jdi-light-examples/src/main/java/io/github/epam/sections/ContactForm.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/site/sections/ContactForm.java
  test-templates/jdi-light-junit-template/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
  test-templates/jdi-light-junit-template/src/main/java/org/mytests/uiobjects/example/site/sections/ContactForm.java
  test-templates/jdi-light-testng-template/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
  test-templates/jdi-light-testng-template/src/main/java/org/mytests/uiobjects/example/site/sections/ContactForm.java
Labels: Angular, jdi-light

#2353 Created form fields tests.
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/FormFieldsSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/FormFieldTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/FormFieldUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/FormFieldsAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/FormField.java
Labels: Angular

#2349 divider classes removed
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/DividerSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/DividerTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/DividerAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Divider.java
Labels: Angular

#2357 2350 refactor spinner tests
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/SpinnerSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/SpinnerTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Spinner.java
Labels: Angular, jdi-light

#2369 2343 shorten travis logs
  .travis.yml
Labels: Angular, allure

#2372 Shorten Travis log.
  .travis.yml
  reports.sh
Labels: Angular, allure

#2367 Refactored Checkbox element.
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/CheckboxSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/BaseValidationsUtils.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/CheckboxTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/CheckboxUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/CheckboxAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Checkbox.java
Labels: Angular, jdi-light

#2338 keyboard continue button check
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/ios/TextField.java
Labels: iOS
