Repository jdi-testing/jdi-light, pull requests merged in 2020-05, with the labels that each got.

#1911 Angular 1875 Add sidenavs and 1874 Add SVG icon
  angular.html
  angular/assets/img/examples/thumbup_icon.svg
  angular/main-es2015.js
  angular/main-es5.js
  angular/vendor-es2015.js
  angular/vendor-es5.js
Labels: Angular

#1984 Restore angular dist
  angular/main-es2015.js
  angular/main-es5.js
  angular/polyfills-es5.js
  angular/vendor-es2015.js
  angular/vendor-es5.js
Labels: Angular

#1983 1487 travis check all comments
  jdi-light-angular/src/main/java/init.txt
  reports.sh
Labels: Angular, travis

#1985 1982 file sharing options
  reports.sh
Labels: Angular

#1990 Travis - Fix one page GitHub comments read
  reports.sh
Labels: travis

#1996 Travis - Actualized modules list in travis.yml test stage
  .travis.yml
Labels: travis

#1997 1994 Fix bdd tests configuration
  .travis.yml
  jdi-bdd-tests/src/test/java/cucumberTests/TestRunner.java
  jdi-bdd-tests/src/test/java/cucumberTests/stepdefs/UserStepdefs.java
  jdi-bdd-tests/src/test/resources/general.xml
  reports.sh
  test-examples/jdi-bdd-no-po-tests/src/test/java/cucumberTests/TestRunner.java
  test-examples/jdi-bdd-no-po-tests/src/test/java/cucumberTests/steps/UserStepdefs.java
  test-examples/jdi-bdd-no-po-tests/src/test/java/cucumberTests/test/data/TestData.java
  test-examples/jdi-bdd-no-po-tests/src/test/java/cucumberTests/test/data/User.java
Labels: travis

#2006 2003 Configure JDI BDD tests suites in Allure report
  jdi-bdd-tests/pom.xml
  jdi-bdd-tests/src/test/java/cucumberTests/CucumberHooks.java
  jdi-bdd-tests/src/test/resources/general.xml
Labels: bdd

#2018 Add ids for Angular icons and spinner
  angular/main-es2015.js
  angular/main-es5.js
Labels: Angular

#2004 1564 fix html, examples tests
  jdi-bdd-tests/src/main/java/io/github/com/StaticSite.java
  jdi-bdd-tests/src/test/resources/features/Menu.feature
  jdi-bdd/src/main/java/com/epam/jdi/bdd/elements/CustomMenu.java
  jdi-bdd/src/main/java/com/epam/jdi/bdd/stepdefs/RadioSteps.java
  jdi-light-html-tests/src/main/java/io/github/com/pages/SimpleTablePage.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/common/ButtonTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/complex/list/WaitDataListTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/complex/list/WaitJListTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/complex/table/FurnitureTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/performance/DataTableTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/test/data/FurnitureTableData.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/table/BaseTable.java
  test-examples/jdi-light-examples/src/main/java/selenium/entities/TestData.java
  test-examples/jdi-light-examples/src/test/java/io/github/epam/tests/RootTests.java
  test-examples/jdi-light-examples/src/test/java/io/github/epam/tests/google/WaitDataListTests.java
  test-examples/jdi-light-examples/src/test/java/io/github/epam/tests/google/WaitJListTests.java
  test-examples/jdi-light-examples/src/test/java/io/github/epam/tests/recommended/TableTests.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/TestData.java
Labels: travis
