Repository jdi-testing/jdi-light, pull requests merged in 2020-06, with the labels that each got.

#2093 2071: CRONJOB_COMMENTS_PR is now Travis-level environment variable
  .travis.yml
Labels: travis

#2115 2025, 2026 Add missing progress bars and update progress spinner
  angular.html
  angular/main-es2015.js
  angular/main-es5.js
Labels: Angular

#2129 2121 test search by fix
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/table/BaseTable.java
Labels: jdi-light
