Repository jdi-testing/jdi-light, pull requests merged in 2020-10, with the labels that each got.

#2374 #2300 added iOS Search bar
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/contacts/ContactsListPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_ios/tests/ContactsAppTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/ios/app/SearchBar.java
Labels: iOS

#2382 Implementing sort header tests
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/SortingOverviewSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/complex/SortingOverviewTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/SortingOverviewUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/SortingOverviewAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/SortingOverview.java
Labels: Angular, jdi-light

#2405 Fix 0 tests
  jdi-light-html-tests/src/main/java/io/github/com/pages/SimpleTablePage.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/common/AlertsTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/elements/complex/table/BasicTests.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/IssueTest69.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/performance/DataTableTests.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/table/BaseTable.java
Labels: Roman

#2388 Iteration tests
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/IssueTest69.java
Labels: Roman

#2415 remove extra semicolon
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/DataList.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/table/Line.java
Labels: ⚠ .Codacy

#2412 SearchView added (for page Action Bar)
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/SearchViewActionBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/SearchViewAlwaysExpandedPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/SearchViewFilterPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/SearchViewPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ViewsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SearchViewTest.java
  jdi-light-mobile-tests/src/test/resources/android.properties
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/asserts/SearchViewAssert.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/asserts/generic/ISearchAssert.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/ISearchView.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/SearchViewButton.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/SearchViewField.java
Labels: Android

#2409 MobileDevice tests
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileDeviceTests.java
Labels: mobile

#2421 Task2419 combine statements
  jdi-light/src/main/java/com/epam/jdi/light/actions/ActionHelper.java
Labels: mobile, ⚠ .Codacy

#2427 split dclaration to one per line tot improve readablity
  jdi-bdd-tests/src/main/java/io/github/com/custom/LoginFormSmart.java
  jdi-bdd-tests/src/main/java/io/github/com/entities/MarvelUserSimple.java
  jdi-bdd-tests/src/main/java/io/github/com/sections/LoginForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/entities/SlideInfo.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustomGet.java
  jdi-light-html-tests/src/main/java/io/github/com/pages/HtmlElementsPage.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/Paragraph.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/ParagraphData.java
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/elements/complex/vue/DataSet.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/knection/ProjectRow.java
  test-templates/jdi-light-junit-template/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
  test-templates/jdi-light-testng-template/src/main/java/org/mytests/uiobjects/example/entities/Contacts.java
  test-templates/jdi-light-testng-template/src/main/java/org/mytests/uiobjects/example/entities/MarvelUserInfo.java
  test-templates/jdi-light-testng-template/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
  test-templates/jdi-light-testng-template/src/main/java/org/mytests/uiobjects/example/site/sections/ContactForm.java
Labels: mobile, ⚠ .Codacy, ⚡️ Warning Level

#2407 #2400 Fix long time waiting for tearDown tests of native app
  jdi-light-mobile-tests/src/test/java/nativeapp_android/ApiDemosTestInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/ClockAppTestsInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/SettingsAppTestsInit.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/WebDriverFactory.java
Labels: Android

#2430 split dclaration to one per line to improve readablity
  jdi-bdd-tests/src/main/java/io/github/com/entities/MarvelUserInfo.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustomGet.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/LoginFormSmart.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/custom/Result.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/LoginForm.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/DataTableAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/TableAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/WebSettings.java
  test-examples/jdi-bdd-no-po-tests/src/test/java/cucumberTests/test/data/User.java
  test-examples/jdi-performance/src/main/java/org/mytests/uiobjects/example/site/sections/ContactForm.java
  test-templates/jdi-light-junit-template/src/main/java/org/mytests/uiobjects/example/entities/Contacts.java
  test-templates/jdi-light-junit-template/src/test/java/org/mytests/tests/example/JDIPerformanceTests.java
  test-templates/jdi-light-testng-template/src/main/java/org/mytests/uiobjects/example/site/pages/ContactsPage.java
Labels: mobile, ⚠ .Codacy, ⚡️ Warning Level

#2433 split dclaration to one per line tot improve readablity
  jdi-bdd-tests/src/main/java/io/github/com/sections/ContactForm.java
  jdi-light-applitools-tests/src/main/java/org/mytests/uiobjects/example/entities/MarvelUserInfo.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/RangeControl.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustom.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/UserRow.java
  jdi-light/src/main/java/com/epam/jdi/light/actions/ActionHelper.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/DataTableAssert.java
  test-examples/jdi-light-examples/src/main/java/selenium/site/data/ContactInfo.java
  test-templates/jdi-light-junit-template/src/main/java/org/mytests/uiobjects/example/entities/MarvelUserInfo.java
Labels: mobile, ⚠ .Codacy, ⚡️ Warning Level

#2435 Codacy Verification Pattern:
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/IssueTest69.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/ParagraphData.java
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/elements/complex/Menu2D.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/WebDriverUtils.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/DownloadDriverManager.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/DriverData.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/common/UIElement.java
Labels: mobile, ⚠ .Codacy, ⚡️ Warning Level

#2438 Codacy Verification Pattern:
  jdi-eyes-demo/src/main/java/jdisite/entities/ContactInfo.java
  jdi-eyes-demo/src/main/java/jdisite/entities/MarvelUserInfo.java
  jdi-eyes-demo/src/main/java/jdisite/entities/User.java
Labels: mobile, ⚠ .Codacy, ⚡️ Warning Level

#2439 Use one line for each declaration, it enhances code readability.
  jdi-bdd-tests/src/main/java/io/github/com/sections/ContactForm.java
  jdi-eyes-demo/src/main/java/jdisite/sections/ContactForm.java
  jdi-light-applitools-tests/src/main/java/jdisite/entities/MarvelUserInfo.java
  jdi-light-applitools-tests/src/main/java/jdisite/entities/User.java
Labels: mobile, ⚠ .Codacy, ⚡️ Warning Level

#2440 Use one line for each declaration, it enhances code readability.
  jdi-bdd-tests/src/main/java/io/github/com/pages/HtmlElementsPage.java
  jdi-eyes-demo/src/main/java/jdisite/entities/ContactInfo.java
  jdi-light-applitools-tests/src/main/java/jdisite/sections/ContactForm.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/entities/User.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustomFill.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/Result.java
Labels: mobile, ⚠ .Codacy, ⚡️ Warning Level

#2446 #2413
  jdi-light-mobile-tests/src/main/java/nativeapp/android/AndroidFileManager.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/MobileFileManagerInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileFileManagerTests.java
Labels: Android, mobile

#2423 Android status bar
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/AppPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/IndexPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/NotificationPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/StatusBarPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/StatusBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/TextFieldTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/StatusBar.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/TextField.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/ToggleButton.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/AndroidScreen.java
Labels: Android

#2398 seekBar with tests max value is undefined
  jdi-light-mobile-tests/src/main/java/nativeapp/android/AlarmSettings.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/ClockApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/SeekBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ViewsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/AlarmAppTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ToggleButtonTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/SeekBar.java
Labels: Android

#2428 #2243 added iOS Pull-down menu
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/settings/DisplayAndTextSizePage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/settings/SettingsListPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_ios/tests/ContactsAppTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_ios/tests/SettingsAppTests.java
  jdi-light-mobile-tests/src/test/resources/ios.properties
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/ios/app/Menu.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/ios/app/NavigationBar.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/ios/app/PullDownMenu.java
Labels: iOS

#2448 Added tests for MobileKeyboard class
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileKeyboardTests.java
Labels: mobile

#2436 RatingBar implementation
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/RatingBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ViewsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/RatingBarTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/asserts/RatingBarAssert.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/RatingBar.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/complex/UIElementList.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/MobileScreen.java
Labels: mobile
