Repository jdi-testing/jdi-light, pull requests merged in 2020-11, with the labels that each got.

#2482 2461 performance data
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileDeviceTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/MobileDevice.java
Labels: Android, mobile

#2483 2458 clipboard methods
  jdi-light-mobile-tests/src/main/java/nativeapp/android/SettingsApp.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ClipBoardTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/MobileDevice.java
Labels: Android

#2491 2386 seekbar upd
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileDeviceTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SeekBarTest.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ToggleButtonTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/SeekBar.java
Labels: Android, mobile

#2502 #2499 fix android tests
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/StatusBarPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/ClockAppTestsInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/AlarmAppTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/CheckboxTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileDeviceTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileKeyboardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/RatingBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SearchViewTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SeekBarTest.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/StatusBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/TextFieldTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ToggleButtonTests.java
  jdi-light-mobile-tests/src/test/resources/androidApps.xml
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/AndroidScreen.java
Labels: Android, mobile

#2466 2394 action bar impl
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ActionBarDisplayOptionsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ActionBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ActionBarUsagePage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/AppPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/IndexPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ActionBarTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/asserts/ActionBarAssert.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/IActionBar.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/ActionBar.java
Labels: Android

#2531 Refactor pages package structure
  CHANGELOG.md
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Animation/AnimationPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Animation/CheckboxesPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/App/ActionBarDisplayOptionsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/App/ActionBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/App/ActionBarUsagePage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/App/AppPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/App/NotificationPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/App/StatusBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/ButtonsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/RatingBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/SearchViewActionBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/SearchViewAlwaysExpandedPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/SearchViewFilterPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/SearchViewPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/SeekBarPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/TextFieldsPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/ViewsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ActionBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/CheckboxTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/MobileKeyboardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/RatingBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SearchViewTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SeekBarTest.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/StatusBarTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/TextFieldTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ToggleButtonTests.java
Labels: Android, refactor

#2490 Acitvitity methods (Appium) were implemented #2457
  jdi-light-mobile-tests/src/test/java/nativeapp_android/ActivityTestsInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ActivityTests.java
  jdi-light-mobile-tests/src/test/resources/android.properties
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/MobileDeviceActivity.java
Labels: Android

#2501 resolve task with android element spinner
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/SpinnerPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/Views/ViewsPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SpinnerTest.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/complex/Spinner.java
Labels: Android, mobile

#2516 add new test app ios
  jdi-light-mobile-tests/src/main/resources/EpamIOSTestAPP.zip
Labels: iOS, mobile

#2512 1847 radio buttons web
  jdi-light-mobile-tests/src/main/java/io/github/epam/StaticSite.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/HtmlMobilePage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/HtmlMobileElements.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/RadioButtonsTests.java
Labels: Android, mobile, web

#2519 1850 multi dropdown web
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/HtmlMobilePage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/HtmlMobileElements.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/MultiDropdownTests.java
Labels: Android, mobile, web

#2493 #2456
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/main/java/android/AndroidEmulatorPower.java
  jdi-light-mobile-tests/src/test/java/androidtests/emulatorpower/EmulatorPowerInit.java
  jdi-light-mobile-tests/src/test/java/androidtests/emulatorpower/EmulatorPowerTest.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/asserts/CheckboxAssert.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/EmulatorPower.java
Labels: Android, mobile

#2534 Android native progress bar tests
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/IndexPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apiDemos/ProgressBarPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ProgressBarTests.java
Labels: Android

#2532 #2527 Create tests for SegmentControl
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/ActionSheetPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/AlertDialogPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/ContextMenuPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/DatePickerPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/IOSAppInit.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/MainPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/SegmentedControlPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/SliderPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/StepperPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/TabViewPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/TextFieldPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/ToggleSwitchPage.java
  jdi-light-mobile-tests/src/test/java/epamiostestapp/IosApplicationInit.java
  jdi-light-mobile-tests/src/test/java/epamiostestapp/tests/SegmentedContolTest.java
Labels: iOS, mobile

#2539 Fixed issue with packages names
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/ApiDemosApp.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/views/TabsPage.java~HEAD
Labels: Android, codacy issues

#2541 Separated runners for android, IOs and Web Mobile tests
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/test/resources/android.properties
  jdi-light-mobile-tests/src/test/resources/androidNativeAppTests.xml
  jdi-light-mobile-tests/src/test/resources/webMobileTests.xml
Labels: Android, iOS, web
