Repository jdi-testing/jdi-light, pull requests merged in 2021-03, with the labels that each got.

#2747 Material UI - Utils - Popover
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopoverClickFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopoverHoverFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopoverTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopoverAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popover.java
Labels: Material-UI

#2744 2692 Implement Inputs - Select
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SelectFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDISelect.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SelectAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Select.java
Labels: Material-UI

#2800 Material UI inputs slider
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SliderFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AccordionFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/datadisplay/TypographyTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SliderTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIDivider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/datadisplay/TypographyAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SliderAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SliderRangeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TextFieldAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/datadispay/Typography.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Slider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/SliderRange.java
Labels: Material-UI

#2814 Group check box tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/GroupCheckBoxFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/GroupCheckBoxTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/GroupCheckBoxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/GroupCheckbox.java
Labels: Material-UI

#2760 2699 inputs transfer list
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/EnhancedTransferListFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SimpleTransferListFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TransferListTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDITransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TransferListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/TransferList/EnhancedTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/TransferList/SimpleTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/TransferList/TransferList.java
Labels: Material-UI

#2824 2705: Implement Navigation - Stepper
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
Labels: Material-UI

#2769 2703 - Material UI - Link
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/LinkFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/LinkTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/LinkAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Link.java
Labels: Material-UI

#2746 2721 - Material UI - Lists
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/datadisplay/ListsFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/datadisplay/ListsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/datadisplay/ListsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/datadisplay/Lists.java
Labels: Material-UI

#2754 2688 - Material UI - hidden
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layouts/HiddenFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layouts/HiddenTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layouts/HiddenAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layouts/Hidden.java
Labels: Material-UI

#2751 Material UI - 2694 - date time pickers
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/DateTimePickersFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/DateTimePickersTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/DateTimePickersAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/DateTimePickers.java
Labels: Material-UI

#2772 2693 - Material UI - Radio
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/RadioButtonFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/RadioButtonTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/RadioButtonAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/RadioButton.java
Labels: Material-UI

#2775 2700 - Material UI - bottom navigation
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/BottomNavigationFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/BottomNavigationTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/BottomNavigationAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/BottomNavigation.java
Labels: Material-UI

#2768 2684 - Material UI - Box
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layouts/BoxFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layouts/BoxTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layouts/BoxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layouts/Box.java
Labels: Material-UI

#2758 2719 - Material UI - Icons
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/datadisplay/IconsFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/datadisplay/IconsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/datadisplay/IconsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/datadisplay/Icons.java
Labels: Material-UI

#2765 2728: Added Utils - Popper
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopperFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/Position.java
Labels: Material-UI

#2778 2709 surfaces card
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/CardFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDICard.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/CardAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Card.java
Labels: Material-UI

#2791 2685 - Material UI - container
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/ContainerFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/ContainerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/ContainerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Container.java
Labels: Material-UI

#2825 2706 Navigation tabs
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/TabAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Tab.java
Labels: Material-UI

#2779 2707 - Material UI - app bar
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AppBarFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/AppBarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/AppBar.java
Labels: Material-UI

#2792 Modal tests
  CHANGELOG.md
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/ModalFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ModalTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIModal.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/ModalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Modal.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/base/JdiSettings.java
Labels: Material-UI

#2836 remove cosacy config file
  .codacy.yml
Labels: ⚠ .Codacy

#2783 2729 - Material UI - portal
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PortalFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PortalTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PortalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Portal.java
Labels: Material-UI

#2838 Update IGrid.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/table/IGrid.java
Labels: ⚠ .Codacy

#2773 2712 feedback dialog
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/DialogFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIDialog.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/DialogAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Button.java
Labels: Material-UI

#2805 2717 - Material UI - chip
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/ChipFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIChip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ChipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
Labels: Material-UI

#2776 2715 - Material UI - avatar
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/AvatarFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/AvatarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Avatar.java
Labels: Material-UI

#2813 2722 - Material UI - table
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/TableFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TableTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDITable.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/TableAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Table.java
Labels: Material-UI

#2762 Material UI app bar tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AppBarFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIAppBar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/AppBarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/AppBar.java
Labels: Material-UI

#2826 2701 - Material UI - breadcrumbs
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/BreadcrumbsFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/BreadcrumbsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIBreadcrumbs.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/BreadcrumbsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Breadcrumbs.java
Labels: Material-UI

#2850 declaration and initialization lines concat into one
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Slider.java
Labels: Material-UI, ⚠ .Codacy, ⚡️ Warning Level

#2851 add local variable for substitution of parameter variable
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/SliderRange.java
Labels: Material-UI, ⚠ .Codacy, ⚡️ Warning Level

#2844 2686 - Material UI - Grid
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/GridFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/GridAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Grid.java
Labels: Material-UI

#2858 2857 - MaterialUI - methods for new materialUI site
  jdi-light-material-ui-tests/src/main/java/io/github/com/MaterialNavigator.java
Labels: Material-UI
