Repository jdi-testing/jdi-light, pull requests merged in 2021-09, with the labels that each got.

#3277 3276-refactor-buttongroup
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SplitButtonGroupFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
  jdi-light-material-ui/pom.xml
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIButtonGroup.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/ButtonGroup.java
Labels: Material-UI

#3270 3228_Check and refactor progress assert
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
Labels: Material-UI

#3280 3278 - Fix wildcard imports
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FloatingActionButtonPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/CardPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/DividerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/IconsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TableTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TooltipTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/DateTimePickersTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FloatingActionButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/RadioButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SliderTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TransferListTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/BoxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/HiddenTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/BottomNavigationTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/DrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/LinkTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MenuTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/RouterBreadcrumbsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/SimpleBreadcrumbsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AccordionTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ClickAwayListenerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ModalTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopoverTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PortalTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TextAreaAutoSizeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TransitionTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
Labels: Material-UI

#3269 3203 - Duplicate (old) webpage declarations
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
Labels: Material-UI

#3284 3283 - Refactor material UI StaticSite
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
Labels: Material-UI

#3282 3281 - Fix unused imports
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/TablePage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/RouterBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabPage.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Select.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Slider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI

#3261 3206 - Fix issues with incorrect drawer page
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ClippedDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/MiniDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/PermanentDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/PersistentDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ResponsiveDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SwipeableDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TemporaryDrawerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/ClippedDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/DrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/PermanentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/ResponsiveDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/SwipeableDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TemporaryDrawerTests.java
Labels: Material-UI

#3288 3287 - MaterialAction aspect
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/actions/MaterialActions.java
Labels: Material-UI

#3286 3281 - Fix unused imports
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
Labels: Material-UI

#3271 Different changes
  jdi-bdd-tests/src/test/java/cucumberTests/TestRunner.java
  jdi-light-angular-tests/src/test/java/io/github/epam/TestsInit.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/BadgeTests.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/AvatarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/sections/AvatarWithPhoto.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/BackdropPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FloatingActionButtonPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SelectPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SlidersPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/RouterBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/BackdropTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/RouterBreadcrumbsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
  test-examples/jdi-bdd-no-po-tests/src/test/java/cucumberTests/TestRunner.java
Labels: Material-UI

#3254 3224 - Check transition component
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/TransitionPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TransitionTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/TransitionAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Transition.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/TransitionType.java
Labels: Material-UI

#3252 Select component
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SelectPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/TextFieldPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TextFieldTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SelectAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Select.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/CurrencyItems.java
Labels: Material-UI

#3253 3225 - Refactor Badge tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/BadgePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
Labels: Material-UI

#3255 3222 - MaterialUI Add Paper component
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/PaperPage.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Paper.java
Labels: Material-UI

#3306 3305 - Create basic package layout
  jdi-light-vuetify-tests/src/main/java/io/github/com/sections/.gitkeep
  jdi-light-vuetify-tests/src/test/java/io/github/epam/TestInit.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/TestsInit.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/.gitkeep
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/.gitkeep
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/actions/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/.gitkeep
  jdi-light-vuetify/src/main/resources/.gitkeep
Labels: Vuetify

#3310 3308 - Aspect to navigate through url annotation
  jdi-light-vuetify-tests/pom.xml
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/actions/VuetifyPageOpener.java
Labels: Vuetify

#3260 3214 - Material UI check tabs component
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FloatingActionButtonPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FloatingActionButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/TabsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Tabs.java
Labels: Material-UI

#3263 3212 - MaterialUI Check Backdrop component
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/BackdropPage.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/BackdropAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Backdrop.java
Labels: Material-UI

#3315 3313 - Abstract vuetify page
  jdi-light-vuetify-tests/pom.xml
  jdi-light-vuetify-tests/src/main/java/io/github/com/actions/VuetifyPageOpener.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VuetifyPage.java
Labels: Vuetify

#3320 3319 - Add colors enum
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/enums/Colors.java
Labels: Vuetify

#3317 3122 - implement avatars
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/ProfileCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AvatarsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VuetifyPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/.gitkeep
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AvatarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Avatar.java
Labels: in progress, Vuetify

#3318 3138 vuetify tests implement dividers
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DividersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/DividersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/DividerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Divider.java
Labels: Vuetify

#3324 3322 - Nuxt routing
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VuetifyPage.java
Labels: Vuetify

#3266 3220 - Material UI Check using Weblist on Stepper page object
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
Labels: Material-UI

#3307 3118 - Implement alerts
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/CustomAlert.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AlertsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/sections/.gitkeep
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AlertsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Alert.java
Labels: Vuetify

#3314 3123 vuetify tests implement badges
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BadgesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/BadgeTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BadgeAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Badge.java
Labels: Vuetify

#3330 3142 vuetify tests implement checkboxes
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/CheckboxesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/CheckboxesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CheckboxAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Checkbox.java
Labels: Vuetify

#3325 3138 vuetify dividers tests fix
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/DividersTests.java
  jdi-light-vuetify-tests/src/test/resources/test.properties
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Divider.java
Labels: Vuetify

#3329 3311_JDIActions in vuetify enabled
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/actions/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/actions/VuetifyActions.java
Labels: Vuetify

#3338 3184 - implement subheaders
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SubheaderPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SubheaderTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SubheaderAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Subheader.java
Labels: Vuetify

#3331 3130 - Implement breadcrumbs
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BreadcrumbsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VuetifyPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/.gitkeep
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BreadcrumbsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDIBreadcrumbs.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Breadcrumbs.java
Labels: Vuetify

#3350 Add doc to badges and checkboxes
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Badge.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Checkbox.java
Labels: Vuetify

#3327 3124 - Implement banners
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BannersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BannersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BannerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Banner.java
Labels: in progress, Vuetify

#3332 3188 Implement tabs
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TabsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TabsTests.java
Labels: Vuetify

#3352 (fix) 3122 implement avatars (tests fix)
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/ProfileCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/asserts/ProfileCardAssert.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AvatarsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AvatarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Avatar.java
Labels: waiting for review, Vuetify

#3351 3134 - Implement cards
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/CustomActionsCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/InformationCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/LoadingCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/MediaTextCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/OutlinedCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/CardsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CardsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CardAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Card.java
Labels: Vuetify

#3344 3128 vuetify tests implement bottom navigation
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BottomNavigationPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/BottomNavigationTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BottomNavigationAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/BottomNavigation.java
Labels: Vuetify

#3341 3129 - Implement Bottom sheets
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/bottomsheets/BottomSheetPlayer.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/bottomsheets/ListBottomSheet.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/bottomsheets/TextBottomSheet.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BottomSheetsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/.gitkeep
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/BottomSheetsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/.gitkeep
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/BottomSheet.java
Labels: Vuetify

#3340 3139 - Implement Expansion panels
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/panels/AdvancedExpansionPanels.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/panels/LocationExpansionPanel.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/panels/TripExpansionPanel.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/panels/TripTimeExpansionPanel.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ExpansionPanelsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ExpansionPanelsTest.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDIExpansionPanels.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ExpansionPanelAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/panels/ExpansionPanel.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/panels/ExpansionPanels.java
Labels: waiting for review, Vuetify
