Repository jdi-testing/jdi-light, pull requests merged in 2021-12, with the labels that each got.

#3531 3507 create interfaces for MUI elements
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/AvatarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/BadgePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Colors.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SwitchTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/AvatarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ChipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SwitchAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Avatar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Adornment.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Switch.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/CanBeDisabled.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasColor.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasImage.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasSize.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/displaydata/HasBadge.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasHelperText.java
Labels: Material-UI, ReWork

#3500 3144 implement file inputs
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/FileInputsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/FileInputTest.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDIFileInput.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/FileInputAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/FileInput.java
Labels: Vuetify

#3535 3529 Rework Typography
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/TypographyPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TypographyTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/TypographyAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Typography.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/TypographyStyles.java
Labels: Material-UI, ReWork

#3553 3507 (added two more interfaces)
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/utils/HasPopover.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/utils/HasPopper.java
Labels: Material-UI, ReWork

#3502 TimePickers element implemented
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TimePickersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TimePickersAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TimePickers.java
Labels: Vuetify

#3549 fixed grids tests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/GridsTests.java
Labels: Vuetify

#3558 fixed colour import in file inputs
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/FileInputTest.java
Labels: Vuetify

#3560 Fixing simpleTabTest (#3555)
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/TabsAssert.java
Labels: Material-UI

#3566 3554 refactored chips tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/ChipsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/ChipDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIChip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ChipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Avatar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
Labels: Material-UI

#3522 Bottom navigation element was refactored (3464)
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/BottomNavigationPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/BottomNavigationTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/BottomNavigationAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/BottomNavigation.java
Labels: Material-UI, ReWork

#3551 3550 Fix failed tests in Master Material-UI
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FloatingActionButtonPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/HiddenPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TableTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FloatingActionButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/BoxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/HiddenTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/UseMediaQueryTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/TabsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/DateTimePicker.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Tabs.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Modal.java
Labels: Material-UI

#3530 #3457 material UI stepper rework
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
Labels: Material-UI

#3524 Material UI rework: Container - reworked #3499
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/ContainerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/ContainerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/ContainerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Container.java
Labels: Material-UI

#3545 Drawer was reworked
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ClippedDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/MiniDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/PermanentDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/PersistentDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ResponsiveDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SwipeableDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TemporaryDrawerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/ClippedDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/PermanentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/ResponsiveDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/SwipeableDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TemporaryDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ClippedDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PermanentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ResponsiveDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/SwipeableDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/TemporaryDrawerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
Labels: Material-UI, ReWork

#3546 Material UI rework card
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/cards/ComplexInteractionCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/cards/SimpleCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/CardPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/CardAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Card.java
Labels: Material-UI, ReWork

#3590 3589: MaterialUI fix unused import in Stepper
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
Labels: ⚠ .Codacy, Material-UI

#3569 Paper element refactor
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/PaperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/PaperTests.java
Labels: Material-UI, ReWork

#3572 3582 - Material UI Avatars refactoring
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/AvatarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Avatar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasImage.java
Labels: refactor, Material-UI

#3575 3583 - Material UI checkboxes refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/CheckboxPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Colors.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ListsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TableTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/CheckboxesDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Switch.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/TextField.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasColor.java
Labels: refactor, Material-UI

#3598 Tsk3596: MaterialUI refactoring tests for Grid
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/GridPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/GridAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Grid.java
Labels: Material-UI, ReWork

#3605 Tsk3596: MaterialUI Grid refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/GridPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridTests.java
Labels: Material-UI, ReWork

#3542 Tsk3542: Fixing naming convention Vuetify
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/AdvancedCombobox.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/PaginationPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VuetifyPage.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDIPagination.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Overlay.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Breadcrumbs.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ButtonGroup.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Combobox.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Hover.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Pagination.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/RangeSlider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Rating.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Slider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextArea.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextField.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TreeView.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/panels/ExpansionPanel.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/panels/ExpansionPanels.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/timelines/TimeLine.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/timelines/TimeLineItem.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/BottomSheet.java
Labels: ⚠ .Codacy, Vuetify

#3603 3593 - Fix Codacy pattern
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/SliderRange.java
Labels: Material-UI

#3606 Codacy issue: return count
  jdi-light-material-ui-tests/src/test/java/io/github/epam/testng/TestNGListener.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Snackbar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/SliderRange.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/TextField.java
Labels: ⚠ .Codacy, Material-UI, 🔍 investigate

#3607 3600-Optimize length of locators in ListPage and DialogPage
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/ListPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/DialogPage.java
Labels: Material-UI

#3609 3602-Fix code style imperfection in SimpleTransferListPage
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SimpleTransferListPage.java
Labels: Material-UI

#3608 3601-Investigate unused locators in SlidersPage
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SlidersPage.java
Labels: Material-UI

#3599 Tsk3595: MaterialUI refactoring tests for Box
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/BoxPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/BoxTests.java
Labels: Material-UI, Refactoring

#3610 3460 - Rework Material UI Breadcrumbs
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/RouterBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SimpleBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/RouterBreadcrumbsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/SimpleBreadcrumbsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIBreadcrumbs.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Breadcrumbs.java
Labels: Material-UI, Refactoring

#3543 3174 - Date pickers month
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DatePickersMonthPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersMonthTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDatePickerMonth.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/DatePickerMonthAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/DatePickerMonth.java
Labels: Vuetify

#3494 3173 - Date pickers
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DatePickersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDatePicker.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/DatePickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/DatePicker.java
Labels: Vuetify

#3613 Material Icon element was refactored
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/MaterialIconPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
Labels: Material-UI, Refactoring

#3636 3635: Fixing Drawer tests
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
Labels: Material-UI, Refactoring

#3624 Slider MUI was refactored
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SliderTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SliderAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Slider.java
Labels: Material-UI, Refactoring

#3626 3627 - Material UI dialog refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JDIButtonWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JDIListItemWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ButtonWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ListItemWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/ComplexInteractionCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/SimpleCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/DialogPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/CardPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ListsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TextFieldTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/DialogDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/DialogAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/List.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/feedback/HasDialog.java
Labels: Material-UI, Refactoring

#3629 3623 - Link refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/LinkPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/LinkTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/LinkAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Link.java
Labels: Material-UI, Refactoring

#3632 Bottom Navigation tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/BottomNavigationPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/BottomNavigationTests.java
Labels: Material-UI, Refactoring

#3638 3634: Select test is refactored
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
Labels: Material-UI, Refactoring

#3639 Stepper was refactored
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
Labels: Material-UI, Refactoring

#3640 Date/Time pickers annotation is added
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/DateTimePicker.java
Labels: Material-UI, Refactoring

#3648 AppBar test of position is added
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
Labels: Material-UI, Refactoring

#3647 Paper: add functionality for style verification
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/PaperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/PaperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Paper.java
Labels: Material-UI

#3653 3619 Menu: refactoring using List / ListItem
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ContextMenuPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SimpleMenuPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MenuTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/MenuAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI, Refactoring

#3657 Tabs was refactored
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Tabs.java
Labels: Material-UI, Refactoring

#3655 3651 - Implemented List for Router Breadcrumbs
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/RouterBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/RouterBreadcrumbsTests.java
Labels: Material-UI, Refactoring

#3658 3645: Progress is refactored
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/ProgressPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/LinearProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/ProgressBar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/CircularProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/LinearProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/Progress.java
Labels: Material-UI, Refactoring
