Repository jdi-testing/jdi-light, pull requests merged in 2021-04, with the labels that each got.

#2841 Resolving code/logic issues in material UI tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/IconsFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/ListsFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/BoxFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/HiddenFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/datadisplay/TypographyTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/DividerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/IconsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ListsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckBoxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FabTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/HiddenTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIDivider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/datadisplay/TypographyAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/IconsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ListsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layouts/BoxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layouts/HiddenAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/datadispay/Typography.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Icons.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Lists.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Box.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Hidden.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Paper.java
Labels: Material-UI

#2856 2704 - Material UI - Menu
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/MenuFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MenuTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/MenuAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI

#2863 2689 - Material UI - Buttons
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIButtons.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/ButtonAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Button.java
Labels: Material-UI

#2855 SliderRange class Updatess.
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/SliderRange.java
Labels: Material-UI, ⚠ .Codacy, ⚡️ Warning Level

#2861 2725-Click-away-listener
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/ClickAwayListenerFrame.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ClickAwayListenerTests.java
Labels: Material-UI

#2875 2712 - MaterialUI - Feedback - Dialog
  jdi-light-material-ui-tests/src/main/java/io/github/com/MaterialNavigator.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/DialogFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/DialogPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIDialog.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/DialogAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
Labels: Material-UI

#2876 2710 accordion
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AccordionFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AccordionPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AccordionTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/AccordionAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Accordion.java
Labels: Material-UI

#2866 2694 time date pickers
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/DateTimePickersFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/DateTimePickersPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/DateTimePickersTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/DateTimePickersAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/DateTimePickers.java
Labels: Material-UI

#2879 2689 - MaterialUI - Buttons
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIButtons.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/ButtonAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Button.java
Labels: Material-UI

#2878 2700 bottom navigation
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/BottomNavigationFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/BottomNavigationPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/BottomNavigationTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AccordionTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/BottomNavigationAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/BottomNavigation.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Accordion.java
Labels: Material-UI

#2862 2730 test utils text area autosize
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/TextAreaAutoSizePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TextAreaAutoSizeTests.java
Labels: Material-UI

#2888 add default case to switch statement
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/IssueTest69.java
  jdi-light-html-tests/src/test/java/io/github/epam/testng/TestNGListener.java
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/elements/complex/Menu2D.java
  jdi-light/src/main/java/com/epam/jdi/light/actions/ActionHelper.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/DataTableAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/IDataGridAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/IGridAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/WebDriverUtils.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/DownloadDriverManager.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/DriverData.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/common/UIElement.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/WebSettings.java
Labels: codacy issues, ⚠ .Codacy, ⚡️ Warning Level

#2869 deleted Portal.java, PortalAssert.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PortalFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PortalPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PortalTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PortalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Portal.java
Labels: Material-UI

#2865 2691 - Impement Inputs - Checkbox
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/CheckboxFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/CheckboxPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/ClickAwayListenerFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/ClickAwayListenerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckBoxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ClickAwayListenerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
Labels: Material-UI

#2886 2713 - MaterialUI - Snackbar
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/ConsecutiveSnackbarFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/SimpleSnackbarFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/SnackbarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDISnackbar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/SnackbarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Snackbar.java
Labels: Material-UI

#2894 2702 - MaterialUI - Drawer
  jdi-light-material-ui-tests/src/main/java/io/github/com/MaterialNavigator.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/DrawerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/DrawerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
Labels: Material-UI

#2904 hotfix for paperPage
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
Labels: Material-UI

#2903 2713 - MaterialUI - Snackbar
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/SnackbarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
Labels: Material-UI

#2900 2716 - MaterialUI- Badge
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/BadgeFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/BadgePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
Labels: Material-UI

#2902 2727 - MaterialUI - Popover
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopoverClickFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopoverPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopoverTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopoverAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popover.java
Labels: Material-UI

#2898 Pattern: Use one line for each declaration, it enhances code readabil…
  jdi-bdd-tests/src/main/java/io/github/com/pages/HtmlElementsPage.java
  jdi-bdd-tests/src/main/java/io/github/com/sections/ContactForm.java
  jdi-bdd/src/main/java/com/epam/jdi/bdd/stepdefs/TableSteps.java
  jdi-eyes-demo/src/main/java/jdisite/entities/ContactInfo.java
  jdi-light-applitools-tests/src/main/java/jdisite/entities/ContactInfo.java
  jdi-light-applitools-tests/src/main/java/jdisite/entities/MarvelUserInfo.java
  jdi-light-applitools-tests/src/main/java/jdisite/entities/User.java
  jdi-light-applitools-tests/src/main/java/jdisite/sections/ContactForm.java
  jdi-light-applitools-tests/src/main/java/org/mytests/uiobjects/example/entities/MarvelUserInfo.java
  jdi-light-applitools-tests/src/main/java/org/mytests/uiobjects/example/entities/User.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/entities/User.java
  jdi-light-bootstrap-tests/src/main/java/io/github/com/pages/BootstrapPage.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustom.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustomFill.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/ContactFormCustomGet.java
  jdi-light-html-tests/src/main/java/io/github/com/custom/LoginFormSmart.java
  jdi-light-html-tests/src/main/java/io/github/com/entities/Contacts.java
  jdi-light-html-tests/src/main/java/io/github/com/entities/Furniture.java
  jdi-light-html-tests/src/main/java/io/github/com/entities/MarvelUserInfo.java
  jdi-light-html-tests/src/main/java/io/github/com/entities/MarvelUserSimple.java
  jdi-light-html-tests/src/main/java/io/github/com/pages/HtmlElementsPage.java
  jdi-light-html-tests/src/main/java/io/github/com/sections/ContactForm.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/Paragraph.java
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/ParagraphData.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/TableAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/sauce/SauceSettings.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/ScreenSize.java
  test-examples/jdi-bdd-no-po-tests/src/test/java/cucumberTests/test/data/User.java
  test-examples/jdi-light-examples/src/main/java/selenium/site/data/ContactInfo.java
Labels: codacy issues, ⚠ .Codacy, ⚡️ Warning Level

#2909 2697 - materialUI - Switch
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SwitchFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SwitchPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SwitchTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SwitchAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Switch.java
Labels: Material-UI

#2907 2692 - MaterialUI - Select
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SelectFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SelectPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDISelect.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SelectAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Select.java
Labels: Material-UI

#2906 2715 avatar
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/AvatarFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/AvatarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/ClickAwayListenerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ClickAwayListenerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/AvatarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/ButtonAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/MenuAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Avatar.java
Labels: Material-UI

#2908 material icons tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/MaterialIconFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/MaterialIconPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/MaterialIconAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/MaterialIcon.java
Labels: Material-UI

#2915 2719 Icons Tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/IconsFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/IconsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/IconsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/IconsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Icons.java
Labels: Material-UI

#2913 2692 material UI select
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SelectPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
Labels: Material-UI

#2916 Task 2887
  jdi-light-html-tests/src/test/java/io/github/epam/html/tests/issues/issue69/IssueTest69.java
  jdi-light-html-tests/src/test/java/io/github/epam/testng/TestNGListener.java
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/elements/complex/Menu2D.java
  jdi-light/src/main/java/com/epam/jdi/light/actions/ActionHelper.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/DataTableAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/IDataGridAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/table/IGridAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/DownloadDriverManager.java
  jdi-light/src/main/java/com/epam/jdi/light/driver/get/DriverData.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/common/UIElement.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/WebSettings.java
Labels: Material-UI, codacy issues, ⚠ .Codacy, ⚡️ Warning Level

#2917 Transitions
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/TransitionFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/TransitionPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TransitionTests.java
Labels: Material-UI

#2918 Updated box tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/BoxFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/BoxPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/BoxTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layouts/BoxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Box.java
Labels: Material-UI

#2921 Tak2920
  jdi-light-html/src/main/java/com/epam/jdi/light/ui/html/elements/common/TextArea.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/CoordinateConversionHelper.java
  jdi-light/src/main/java/com/epam/jdi/light/settings/WebSettings.java
Labels: Material-UI, ⚠ .Codacy, ⚡️ Warning Level

#2919 2695 floating action button tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FabFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FabPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FabTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/FabAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Fab.java
Labels: Material-UI

#2926 Icons and Material Icons refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/MaterialIconPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/IconsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
Labels: Material-UI

#2927 Updated grid tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/GridFrame.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/GridPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/BoxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/GridAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Grid.java
Labels: Material-UI
