Repository jdi-testing/jdi-light, pull requests merged in 2021-11, with the labels that each got.

#3422 Data Tables was implemented
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DataTablesPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SimpleTablesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SimpleTableAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataTable.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/SimpleTable.java
Labels: Vuetify

#3419 3153 Implement Textareas
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/textareas/SignUpForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/TextAreasDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/entities/textareas/SignUpData.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TextareasPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextAreasTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextAreaAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextArea.java
Labels: Vuetify

#3426 3164 - implement images
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ImagesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/ImagesTestsData.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ImageAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Image.java
Labels: Vuetify

#3493 3488 Refactor Text Field
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextFieldsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/TextFieldsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextFieldAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextField.java
Labels: Vuetify

#3421 3160 implement slide groups
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SlideGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SlideGroupsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/SlideGroupTestsData.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SlideGroupAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/SlideGroup.java
Labels: Vuetify

#3443 3438 Refactor Pagination
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/PaginationTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/PaginationAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Pagination.java
Labels: Vuetify

#3442 3437 Refactor Expansion panels
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/panels/LocationExpansionPanel.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/panels/TripExpansionPanel.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ExpansionPanelsDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ExpansionPanelsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ExpansionPanelsTest.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDIExpansionPanels.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ExpansionPanelAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/panels/ExpansionPanel.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/panels/ExpansionPanels.java
Labels: Vuetify

#3435 3189 implement timelines
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/alerts/IconAlert.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/ButtonCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/RowsCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/sections/DecadeEvent.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/sections/OrderLine.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/sections/ScheduledEvent.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/TimeLineDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TimelinesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimelinesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDITimeLine.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/timelines/TimeLineAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/timelines/TimeLineItemAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/timelines/TimeLine.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/timelines/TimeLineItem.java
Labels: Vuetify

#3501 Popper was reworked
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popper.java
Labels: Material-UI

#3505 3472, 3475, 3480 adding doc links for elements
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/CheckboxPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ListsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TableTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Tooltip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/EnhancedTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/SimpleTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/GridList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Accordion.java
Labels: Material-UI, ReWork

#3441 3157 chip groups
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ChipGroupsDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ChipGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ChipGroupsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ChipGroupAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ChipGroups.java
Labels: Vuetify

#3371 3185 Implement Data Iterators tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DataIteratorsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataIteratorsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SimpleTablesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/DataIteratorAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/DataTableAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/SimpleTableAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataIterator.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataTable.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/SimpleTable.java
Labels: Vuetify

#3508 3473 switch
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SwitchPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SwitchTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SwitchAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Switch.java
Labels: Material-UI, ReWork

#3504 Portal element was reworked
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PortalPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PortalTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PortalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Portal.java
Labels: Material-UI, ReWork

#3511 implement lazy: Lazy, JDILazy, LazyAssert, LazyPage, LazyTests
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/LazyPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/LazyTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDILazy.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/LazyAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Lazy.java
Labels: Vuetify

#3527 ButtonGroup: refactored
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDIButtonGroup.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/ButtonGroupAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/ButtonGroup.java
Labels: Material-UI, ReWork

#3447 3155 implement grid system
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/GridSystemPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/GridsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/GridAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Grid.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/enums/Colors.java
Labels: Vuetify

#3510 3456 Rework Radio
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/RadioButtonPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/RadioButtonsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/RadioButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/RadioButtonsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/RadioAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/RadioButtons.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/LabelPosition.java
Labels: Material-UI, ReWork

#3526 Move package "enums" to test library
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/IconsDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ProgressBarsDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ProgressSpinnersDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/TimeLineDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/Colors.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/TableTestData.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AlertsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/IconsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/RadioButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SwitchTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataIteratorsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/NavigationDrawersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SimpleTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SteppersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SystemBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextAreasTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimelinesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ToolBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TreeViewTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/WindowsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/BottomNavigationTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/FootersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/SheetsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/TextFieldsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SheetAssert.java
Labels: Vuetify

#3515 Material UI rework: Icon - reworked #3455
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/IconsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/IconsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/IconsDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/IconAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Icon.java
Labels: Material-UI

#3520 3481,3482 implement textfields
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/TextFieldPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TextFieldTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/AdornmentAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TextFieldAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Adornment.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/TextField.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/CanBeFocused.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasAdornment.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasHelperText.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasPlaceholder.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasValidationError.java
Labels: Material-UI, ReWork

#3514 Snackbar was reworked
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/SnackbarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/SnackbarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Snackbar.java
Labels: Material-UI, ReWork

#3503 Popover element was reworked
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopoverPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopoverTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopoverAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popover.java
Labels: Material-UI, ReWork

#3518 Tabs element implemented (rework 3451)
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/TabsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Tabs.java
Labels: Material-UI, ReWork

#3404 3159-list-item-groups
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ListItemGroupDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ListItemGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ListItemGroupsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ListItemGroupsAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ListItemGroups.java
Labels: Vuetify

#3523 Modal was reworked
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/ModalPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ModalTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/ModalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Modal.java
Labels: Material-UI, ReWork

#3536 Material UI rework: Dialog- reworked #3454
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/DialogPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/DialogDataProvider.java
Labels: Material-UI
