Repository jdi-testing/jdi-light, pull requests merged in 2021-01, with the labels that each got.

#2606 update codscy conifg file in mobile branch
  .codacy.yaml
Labels: ⚠ .Codacy

#2666 Fixed bad android system tests
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/NotifyPage.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/MobileDeviceTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ToggleAirplaneModeTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ToggleDataTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid10Tests/ToggleWiFiTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ActivityTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ClipBoardTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/MobileDeviceTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/MobileFileManagerTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/SettingsAppTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleAirplaneModeTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleButtonTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleDataTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/SystemAndroid11Tests/ToggleWiFiTests.java
  jdi-light-mobile-tests/src/test/resources/android11SystemTests.xml
Labels: Android

#2667 #2302 Implement native iOS element: Toolbars
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/IOSAppInit.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/MainPage.java
  jdi-light-mobile-tests/src/main/java/nativeapp/ios/epamiostestapp/ToolBarPage.java
  jdi-light-mobile-tests/src/main/resources/EpamIOSTestAPP.zip
  jdi-light-mobile-tests/src/test/java/epamiostestapp/tests/ToolBarTest.java
  jdi-light-mobile-tests/src/test/resources/test.properties
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/composite/ios/app/ToolBar.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/init/MobileAppFactory.java
Labels: iOS, mobile

#2665 2607. Readme files update
  jdi-light-mobile-angular-web-tests/README.md
  jdi-light-mobile-bootstrap-web-tests/README.md
  jdi-light-mobile-html-web-tests/README.md
  jdi-light-mobile-tests/README.md
  jdi-light-mobile/README.md
Labels: mobile

#2669 2607. Readme files updated with corrections
  jdi-light-mobile-angular-web-tests/README.md
  jdi-light-mobile-bootstrap-web-tests/README.md
  jdi-light-mobile-html-web-tests/README.md
  jdi-light-mobile-tests/README.md
  jdi-light-mobile/README.md
Labels: mobile

#2680 Fixed pom.xml and useless package
  jdi-light-mobile-tests/pom.xml
  jdi-light-mobile-tests/src/test/java/nativeapp/ContactsTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp/TestsInit.java
  jdi-light-mobile-tests/src/test/java/nativeapp/elements/common/TextTests.java
  jdi-light-mobile-tests/src/test/java/nativeapp_ios/CalendarAppTestsInit.java
Labels: Android

#2681 Created ProgressBar element in android & updated ProgressBar tests
  jdi-light-mobile-tests/src/main/java/io/github/epam/StaticSite.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/custom/Result.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/custom/SearchResult.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/custom/UserRow.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/entities/User.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/entities/UserInfo.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/entities/Users.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/enums/ColorsList.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/enums/Metals.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/enums/Navigation.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/enums/NavigationNums.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/enums/Vegetables.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/BasePage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/BaseSelPage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/ContactFormPage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/GithubPage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/HomePage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/HomePageFrame.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/HtmlMobilePage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/MetalAndColorsPage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/PerformancePage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/pages/SearchPage.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/ContactForm.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/Footer.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/FrameSpiderman.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/Header.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/HtmlMobileElements.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/LeftMenu.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/LogSidebar.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/LoginForm.java
  jdi-light-mobile-tests/src/main/java/io/github/epam/sections/Main.java
  jdi-light-mobile-tests/src/main/java/nativeapp/android/apidemos/ProgressBarPage.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/MobileCheckBoxTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/MobileRootTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/MobileWebProgressBarTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/MobileWebTextAreaTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/MobileWebTextFieldTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/MultiDropdownTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/RadioButtonsTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/RootTests.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/mobile/tests/StaticTestsInit.java
  jdi-light-mobile-tests/src/test/java/io/github/epam/steps/Preconditions.java
  jdi-light-mobile-tests/src/test/java/nativeapp_android/tests/ProgressBarTests.java
  jdi-light-mobile/src/main/java/com/epam/jdi/light/mobile/elements/common/app/android/ProgressBar.java
Labels: Android

#2673 Update mvn code line
  jdi-light-mobile-tests/README.md
Labels: mobile
