Repository jdi-testing/jdi-light, pull requests merged in 2022-07, with the labels that each got.

#4038 Task 3804: Vuetify - Select Tests refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/RuleForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/ValidationWithSubmitClearForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VeeValidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VuelidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ProgressLinearPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SelectsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TextFieldsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/AutocompletesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SelectTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TabsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextFieldsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AutocompleteAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextFieldAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Autocomplete.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Select.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextField.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/AppBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataTable.java
Labels: Vuetify, Refactoring

#4036 Task #3256: Implement - Get opened windows names
  jdi-light/src/main/java/com/epam/jdi/light/elements/common/WindowsManager.java
Labels: Refactoring

#4051 Task 3852: Material UI - Select tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SelectPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SelectTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/SelectDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Select.java
Labels: documentation, Material-UI, Refactoring

#4064 Task3821: Vuetify - Text Area Refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/TextAreasDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TextAreaPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextAreasTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextAreaAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextArea.java
Labels: Vuetify, Refactoring

#4049 Task 4039: Fix Input tests
  jdi-light-angular-tests/src/main/java/io/github/com/entities/Users.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/InputsForm.java
  jdi-light-angular-tests/src/test/java/io/github/epam/StaticTestsInit.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/InputTests.java
Labels: 🐞 bug, Angular

#3867 Task 3836: Rework ListsTests and VuetifyList
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ListsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ListsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/ListsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ListItemAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyListAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/ListItem.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/VuetifyList.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/VuetifyList.java
Labels: Vuetify, Refactoring

#3936 Task 3810: vuetify avatars refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/ProfileCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/asserts/ProfileCardAssert.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/AvatarsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AvatarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Avatar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/HasIcon.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/HasImage.java
Labels: Vuetify, Refactoring, ♻ changes requested

#3813 Task 3751: Fix failed test in Tabs
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TabsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TabsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyTabsAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/VuetifyTabs.java
Labels: Vuetify, Refactoring, 🔍 investigate

#4099 Task 4096: Vuetify Card Refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BottomNavigationPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/CardsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BottomNavigationTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CardsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Card.java
Labels: Vuetify, Refactoring

#3924 Task 3836: Refactoring ListsTests Rework
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/NavigationDrawersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/ListsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/ListsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ListItemAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyListAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/ListItem.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/VuetifyList.java
Labels: Vuetify, Refactoring

#4089 Task 4061: Vuetify - Chip Refactoring
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ChipsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ChipAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Chip.java
Labels: Vuetify, Refactoring

#4080 Task3831 button group refactoring fix
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ButtonGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/VuetifyButtonGroupsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ButtonGroup.java
Labels: Vuetify, Refactoring

#4018 3823 vuetify text field refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/bars/ToolbarWithSearch.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/textfields/ClearableTextField.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/textfields/IconSlotsTextField.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/textfields/IconTextField.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/textfields/PasswordInputTextField.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/textfields/ProgressTextField.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TextFieldsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextFieldsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/bars/ToolBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/TextFieldsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextFieldAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextField.java
Labels: Vuetify, Refactoring

#4025 Task3805: Vuetify Slider Refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SlidersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SparklinesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ColorPickerTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/RatingTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SlidersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/FormsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/SliderTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ColorPickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SliderAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Slider.java
Labels: Vuetify, Refactoring

#4050 3120 - implement Aspect Ratios for Vuetify
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AspectRatiosPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AspectRatiosTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/AspectRatiosTestsData.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AspectRatiosAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/AspectRatios.java
Labels: Vuetify

#4111 Task4090: Vuetify - Snackbar refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/ClosingSnackbar.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SnackbarsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SnackbarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Snackbar.java
Labels: Vuetify, Refactoring

#4056 3811 vuetify badge refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BadgesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/BadgeTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressBarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BadgeAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Badge.java
Labels: Vuetify

#4115 Task4058: Vuetify - Improved HasIcon interface
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/alerts/IconAlert.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AlertsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/NavigationDrawersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AvatarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Alert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Badge.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Chip.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/VuetifyButton.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/FileInput.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ListItemGroups.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/HasIcon.java
Labels: Vuetify, Refactoring

#4086 Task 3869 Vuetify refactoring Calendar
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CalendarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CalendarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Calendar.java
Labels: Vuetify

#4108 4060 improve has label interface
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SlidersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/CheckboxesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/IconsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/InputsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SwitchTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/TooltipsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/VuetifyButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/FileInputTest.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SelectTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SlidersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextAreasTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextFieldsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimelinesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/WindowsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CheckboxAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/FileInputAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/IconAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/InputAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ProgressSpinnerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SliderAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SwitchAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextAreaAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextFieldAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TooltipAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Checkbox.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Icon.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/ProgressSpinner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Slider.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/complex/DropdownAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/core/IsAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/asserts/generic/TextAssert.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/interfaces/common/IsText.java
Labels: Vuetify
