Repository jdi-testing/jdi-light, pull requests merged in 2022-01, with the labels that each got.

#3659 3651 material UI Drawer refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JDIButtonWithDrawer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ButtonWithDrawer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ClippedDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/MiniDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/PermanentDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/PersistentDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ResponsiveDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SwipeableDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TemporaryDrawerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ClippedDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PermanentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ResponsiveDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/SwipeableDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/TemporaryDrawerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
Labels: Material-UI, Refactoring

#3666 3665: Button refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/textareas/SignUpForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ButtonsDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ButtonsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ChipGroupsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/FloatingActionButtonsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/MenusPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/OverlaysPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ProgressLinearPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SparklinesPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TimelinesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/VuetifyButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/VuetifyButtonGroupsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ButtonAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyButtonAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Button.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/VuetifyButton.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Carousel.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/SlideGroup.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/BasicBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/ToolBar.java
Labels: Vuetify, Refactoring

#3497 Calendars tests were implemented
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/CalendarsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CalendarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CalendarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Calendar.java
Labels: Vuetify

#3680 Tsak3678 vuetify newline at end of file
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DataIteratorsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SteppersPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SystemBarsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VuetifyPage.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDITimeLine.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BottomNavigationAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/RangeSliderAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/StepperAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Pagination.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/stepper/Step.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/stepper/Stepper.java
Labels: ⚠ .Codacy, Vuetify

#3676 Tsak3675 newline at end of file
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AccordionPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PortalPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JDITransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/RadioAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SwitchAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/RadioButtons.java
Labels: ⚠ .Codacy, Material-UI

#3519 3192 - Implement Virtual Scroller
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/VirtualScrollerDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VirtualScrollerPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/VirtualScrollerTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VirtualScrollerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/VirtualScroller.java
Labels: Vuetify

#3525 Tests for Skeleton Loader component
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SkeletonLoadersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SkeletonLoadersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/SkeletonLoader.java
Labels: Vuetify

#3513 Vuetify Refactor Bottom Navigation
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/Colors.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BottomNavigationPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BottomNavigationTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/BottomNavigationTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BottomNavigationAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/BottomNavigation.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/BottomNavigation.java
Labels: Vuetify

#3683 Locators were changed
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FloatingActionButtonPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FloatingActionButtonTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Tabs.java
Labels: Material-UI, Refactoring

#3662 Material UI: refactor Accordion element
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AccordionPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AccordionTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Accordion.java
Labels: Material-UI, Refactoring

#3528 3517 vuetify refactor radio buttons
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/RadioTestData.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/RadioButtonsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/RadioButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/RadioButtonsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/RadioButtonAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/RadioButton.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/RadioButtons.java
Labels: Vuetify

#3552 3150 Vuetify test: Selects
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/selects/IconSelect.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/selects/SelectionSelect.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SelectsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SelectTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Select.java
Labels: Vuetify

#3664 3660 vuetify chip refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ChipsDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ChipsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ChipsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ChipAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Chip.java
Labels: Vuetify, Refactoring

#3565 Element 'Tabs' was refactored
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TabsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TabsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/TabsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyTabsAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/VuetifyTabs.java
Labels: Vuetify

#3679 3677 added @JDIAction annotations for custom MUI elements
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ButtonWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ButtonWithDrawer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ListItemWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/ComplexInteractionCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/SimpleCard.java
Labels: Material-UI, Refactoring

#3693 3691 - Floating action button test refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FloatingActionButtonPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FloatingActionButtonTests.java
Labels: Material-UI, Refactoring

#3690 fixed vertical slider tests and changed some names
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SliderTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Slider.java
Labels: Material-UI, Refactoring

#3567 3581 - Vuetify Avatars refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/ProfileCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/asserts/ProfileCardAssert.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimelinesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AvatarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Avatar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/HasIcon.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/HasImage.java
Labels: Vuetify

#3707 3694 - Material UI: name fixed according to naming conventions
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/ButtonGroup.java
Labels: codacy issues, Material-UI

#3708 3696 - Add curly braces to surround code blocks
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ClickAwayListenerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/actions/MaterialActions.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/List.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/ButtonGroup.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Select.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/TransferList.java
Labels: codacy issues, Material-UI

#3709 3701 - Append new line at the of end file
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BottomNavigationAssert.java
Labels: ⚠ .Codacy, Vuetify

#3559 3579 - Vuetify Bars refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/entities/User.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AppBarsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ToolBarsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/AppBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/MenusTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/NavigationDrawersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SystemBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ToolBarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/InputAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/AppBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/BasicBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/SystemBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/ToolBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/AppBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/BasicBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/SystemBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/ToolBar.java
Labels: Vuetify, Refactoring

#3687 Snackbars tests were refactored
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/SnackbarsDataProvider.java
Labels: Material-UI, Refactoring

#3586 3585 - Vuetify Carousels Refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/CarouselsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/VuetifyButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CarouselAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyButtonAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/VuetifyButton.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ButtonGroup.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Carousel.java
Labels: Vuetify, Refactoring

#3604 3591-Vuetify_Navigation_Drawer_refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/NavigationDrawersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/NavigationDrawersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ListItemAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/NavigationDrawerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/ListItem.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ButtonGroup.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/NavigationDrawer.java
Labels: Vuetify

#3721 3715: Badge refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/AvatarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/BadgePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
Labels: Material-UI, Refactoring

#3723 3717: Material Icons test is refactored
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
Labels: Material-UI, Refactoring

#3710 3706 - Blank line before block tag
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VuetifyPage.java
Labels: ⚠ .Codacy, Vuetify

#3727 Material UI: Transfer List was refactored
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TransferListTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/EnhancedTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/SimpleTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/TransferList.java
Labels: Material-UI, Refactoring

#3728 Popper was refactored
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/TooltipButton.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popper.java
Labels: Material-UI, Refactoring

#3712 3695 - Naming fixed according to naming conventions
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/TextAreasDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/TimeLineDataProviders.java
Labels: ⚠ .Codacy, Vuetify

#3729 Typography tests were merged. Added data usage with Data Provider
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TypographyTests.java
Labels: Material-UI, Refactoring

#3733 Material UI: Tooltip tests were refactored
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/TooltipPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TooltipTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Tooltip.java
Labels: Material-UI, Refactoring

#3738 3736: Resolving unused imports
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popper.java
Labels: ⚡️ Warning Level, ⚠ .Codacy, Material-UI

#3714 Task #3705 - Vuetify: correlate return count
  jdi-light-vuetify-tests/src/test/java/io/github/epam/testng/TestNGListener.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/DatePickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Icon.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Rating.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TreeView.java
Labels: ⚠ .Codacy, Vuetify

#3663 3172 vuetify tests implement pickers color pickers
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/colorpicker/ColorPickerPanel.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ColorPickersDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ColorPickersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ColorPickerTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ColorPickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ColorPicker.java
Labels: Vuetify

#3439 3145 vuetify test forms
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/CustomCheckbox.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/RuleForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/ValidationWithSubmitClearForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VeeValidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VuelidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/FormsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextFieldsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/FormsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/Form.java
Labels: Vuetify

#3649 3584 vuetify test rework elements with custom annotation
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Breadcrumbs.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Combobox.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/FileInput.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Hover.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Lazy.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Pagination.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Rating.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/panels/ExpansionPanels.java
Labels: Vuetify, Refactoring

#3760 Replaced Button on VuetifyButton
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/ValidationWithSubmitClearForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VeeValidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VuelidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ColorPickersPage.java
Labels: Vuetify

#3758 task #3716: chips refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/ChipsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
Labels: Material-UI, Refactoring

#3750 3718 - Table refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/TablePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TableTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/BackdropTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TransitionTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/UseMediaQueryTests.java
Labels: Material-UI, Refactoring

#3681 3643 - Time picker refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TimePickersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JTimePicker.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TimePickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TimePickersAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TimePicker.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TimePickers.java
Labels: Vuetify, Refactoring

#3763 3762 common.AlertsTests stability update
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AlertsTests.java
Labels: Vuetify, Refactoring

#3765 3764 common.BadgeTests stability update
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/BadgeTests.java
Labels: Vuetify, Refactoring

#3767 3766 common.IconsTests stability update
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/IconsTests.java
Labels: Vuetify, Refactoring

#3779 3775 - Add curly braces
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SteppersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/actions/VuetifyActions.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ImageAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Overlay.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/ProgressBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Autocomplete.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ButtonGroup.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Combobox.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextArea.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TreeView.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataIterator.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataTable.java
Labels: ⚠ .Codacy, Vuetify

#3769 3768 common.SwitchTests stability update
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SwitchTests.java
Labels: Vuetify, Refactoring

#3771 3770 common.InputsTests stability update
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
Labels: Vuetify, Refactoring

#3773 3752 - TextFields tests fixing
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextFieldsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextField.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3776 3757 - Fix FootersTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/FootersTests.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3777 3755 - Fix WindowsTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/WindowsTests.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3778 3749 - Select tests fixing
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SelectTests.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3789 3772 common.ImagesTests stability update
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/ImagesTestsData.java
Labels: Vuetify, Refactoring

#3786 3746 - Fix LazyTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/LazyTests.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3788 3742 - Fix CarouselTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3790 3747 - Fix MenusTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/MenusTests.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3794 3775 - Add curly braces
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataTable.java
Labels: ⚠ .Codacy, Vuetify

#3796 Fix bug in Rating
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Rating.java
Labels: Vuetify

#3795 3791 - Update modifiers order
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataIterator.java
Labels: ⚠ .Codacy, Vuetify
