Repository jdi-testing/jdi-light, pull requests merged in 2022-03, with the labels that each got.

#3874 3847 material UI navigation tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/CollapsedBreadcrumbs.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SimpleBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/BottomNavigationTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/SimpleBreadcrumbsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/TabTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/BottomNavigationDataProvider.java
Labels: Material-UI, Refactoring

#3864 3841 - Progress refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/ProgressPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/LinearProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/Progress.java
Labels: Material-UI, Refactoring

#3866 3824 - Vuetify: Banner refactored
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BannersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BannersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BannerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Banner.java
Labels: Vuetify, Refactoring

#3872 3842 Material dialog refactoring
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/DialogDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
Labels: Material-UI, Refactoring

#3876 3875: Menu refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ContextMenuPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SimpleMenuPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MenuTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/MenuDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/MenuAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI, Refactoring

#3879 3850 material UI accordion cards test refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ControlledAccordion.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/ComplexInteractionCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AccordionPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AccordionTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
Labels: Material-UI, Refactoring

#3865 3839 - Stepper refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/steppers/VerticalStep.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/steppers/VerticalStepper.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperWithProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Stepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/AbstractStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileDotsStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileProgressStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileTextStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/Step.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/Stepper.java
Labels: Material-UI, Refactoring

#3884 3845 - ButtonGroup tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
Labels: Material-UI, Refactoring

#3885 3882 - Added CanBeDisabled to ListItem
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/ListItem.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI, Refactoring

#3886 3859 Material UI snackbars tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/SnackbarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/SnackbarsDataProvider.java
Labels: Material-UI, Refactoring

#3891 3845 - ButtonGroup tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
Labels: Material-UI, Refactoring

#3889 3858 switch tests refactoring
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ListTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SwitchTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SwitchAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Switch.java
Labels: Material-UI, Refactoring

#3888 3855 Material UI inset Divider tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/InsetDividerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/InsetDividerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/DividerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Divider.java
Labels: Material-UI, Refactoring

#3880 3846 - Checkbox tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/CheckboxPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Colors.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/CheckboxesDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ChipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasColor.java
Labels: ⚠ .Codacy, Material-UI, Refactoring

#3893 3890 - Menu usages refactoring
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MenuTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI, Refactoring

#3896 3849 material UI floating action test refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/FloatingAnimatedButtonsSection.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/FloatingActionButtonPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/FloatingActionButtonTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/FloatingActionButtonDataProvider.java
Labels: Material-UI, Refactoring

#3900 3894 Material UI: ListTests refactoring
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ListTests.java
Labels: Material-UI, Refactoring

#3898 3854 Material UI: Chip tests refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/ChipsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/ChipDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ChipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
Labels: Material-UI, Refactoring

#3903 3897 Material UI: Colors enum refactoring
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Colors.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/BoxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/LinkTests.java
Labels: Material-UI, Refactoring

#3892 Material bage, icons and tooltip refactoring #3857
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JDIBadgeContainer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/BadgeContainer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/BadgePage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/TooltipPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/IconsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TooltipTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/BadgeDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/IconsDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/MaterialIconDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/Position.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/displaydata/HasIcon.java
Labels: Material-UI, Refactoring

#3911 Task 3895: Fix Drawer tests
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/SwipeableDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/TemporaryDrawerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
Labels: Material-UI, Refactoring, 🔍 investigate

#3908 Task 3906: Implement IColorAssert interface
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/ComplexInteractionCard.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/IconAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/generic/IColorAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/LinkAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Icon.java
Labels: Material-UI, Refactoring

#3914 Task 3848: Refactor Transfer list
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/EnhancedTransferListPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SimpleTransferListPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TransferListTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TransferListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/EnhancedTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/SimpleTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/TransferList.java
Labels: Material-UI, Refactoring

#3916 Task 3902: Drawer refactoring
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ClippedDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PermanentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ResponsiveDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/SwipeableDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/TemporaryDrawerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
Labels: Material-UI, Refactoring, 🔍 investigate

#3913 Task 3904: Refactor Accordion
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ControlledAccordion.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AccordionPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AccordionTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/AccordionAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Accordion.java
Labels: Material-UI, Refactoring

#3932 Task 3927: Create Javadoc example
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Colors.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/MUIList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
Labels: documentation, Material-UI, 🔍 investigate

#3935 Task 3910: Add whitespaces to fix issue found by checkstyle
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Divider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Breadcrumbs.java
Labels: Material-UI, ✔️ Check Style

#3923 Task 3918: Refactor box tests
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Colors.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/BoxTests.java
Labels: Material-UI, Refactoring

#3938 Task 3937: Add whitespaces to fix issue found by checkstyle
  jdi-light-material-ui-tests/src/test/java/io/github/epam/utils/StringUtils.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/AppBar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasHelperText.java
Labels: Material-UI, ✔️ Check Style

#3912 Task 3851: Refactor RadioButtons
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/RadioButtonsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/RadioButtonsTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/RadioAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/LabelPosition.java
Labels: Material-UI, Refactoring

#3934 Task 3915: fix issues founded by check style
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/actions/MaterialActions.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Icon.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/SliderRange.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/CanBeDisabled.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasSize.java
Labels: Material-UI, ✔️ Check Style

#3921 Task 3483: Implement materialUI alert element
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/AlertWithButton.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/AlertPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/AlertTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/AlertDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Alert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/displaydata/HasIcon.java
Labels: Material-UI, Refactoring

#3944 Tasks 3939, 3940, 3941: Fix issues found by checkstyle
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/RadioButtonsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SwitchTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/testng/TestNGListener.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/utils/StringUtils.java
Labels: Material-UI, ✔️ Check Style

#3926 Task 3919: Refactor data providers and asserts
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TypographyTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TextFieldTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/ContainerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/HiddenTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/AvatarDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/BadgeDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/BottomNavigationDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/CheckboxesDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/DialogDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/FloatingActionButtonDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/GridDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/HiddenDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/PopperDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/SnackbarsDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/TypographyDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/AvatarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ChipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/MUIListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/MUIListItemAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/TooltipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/LinearProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/SnackbarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/AdornmentAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/DateTimePickerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/RadioAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SliderAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SliderRangeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SwitchAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TextFieldAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TransferListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/ContainerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/GridAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/GridListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/LinkAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperWithProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/TabsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/CardAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/ModalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopoverAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/TransitionAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/MUIList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Snackbar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Adornment.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Container.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/Position.java
Labels: Material-UI, Refactoring

#3878 Task 3818: Refactor Switch
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SwitchesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SwitchTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SwitchAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Switch.java
Labels: Vuetify, Refactoring

#3966 Task 3961: Change JDI prefix to J in custom annotations and fix checkstyle issue
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JBadgeContainer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JButtonWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JButtonWithDrawer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/annotations/JListItemWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/BadgeContainer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ButtonWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/ButtonWithDrawer.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/MUIListItemWithDialog.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/BadgePage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/DialogPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/EnhancedTransferListPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SimpleTransferListPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/RouterBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SimpleBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SwipeableDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TemporaryDrawerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/testng/TestNGListener.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JBreadcrumbs.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JButtonGroup.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/ButtonGroup.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/TransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Breadcrumbs.java
Labels: Material-UI, Refactoring
