Repository jdi-testing/jdi-light, pull requests merged in 2022-08, with the labels that each got.

#4109 4093 banner refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BannersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BannersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BannerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyButtonAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Banner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ButtonGroup.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/banners/ActionsBanner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/banners/Banner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/banners/EventsBanner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/banners/IconBanner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/banners/SingleBanner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/banners/TwoLineBanner.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/SystemBar.java
Labels: Vuetify, Refactoring

#4143 4142 fix customizedArrowsCarouselTests to work without auto-cycling
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
Labels: Vuetify

#4144 vuetify miscDragAndDropCalendarTest disabled due to an unpredicted behaviour …
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CalendarsTests.java
Labels: Vuetify

#4077 Task 4063: Vuetify Dialog refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/dialog/NestingDialog.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/dialog/ScrollableDialog.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DialogsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DialogTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/DialogAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Dialog.java
Labels: Vuetify, Refactoring

#4149 Input.clearTextField() refactor
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
Labels: Vuetify

#4150 Vuetify disable query progress bar tests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressBarsTests.java
Labels: Vuetify

#4100 4062 datepicker refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DatePickersMonthPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DatePickersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersMonthTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CancelButtonAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/DatePickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/OkButtonAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/CancelButton.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/OkButton.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/DatePicker.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/DatePickerMonth.java
Labels: Vuetify

#4139 Task 4127 - Vuetify refactoring ProgressBarsTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressBarsTests.java
Labels: Vuetify

#4148 Task4104: Vuetify - Form refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/RuleForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/RulesForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/ValidationWithSubmitClearForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VeeValidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VuelidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/entities/form/Rules.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/entities/form/ValidationWithSubmitClear.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/entities/form/VeeValidate.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/entities/form/Vuelidate.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/FormsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/FormsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/Form.java
Labels: Vuetify, Refactoring

#4076 4066 vuetify datatable refactor
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/NewItemCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/tables/ExternalPaginationTable.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/tables/FilterDataIterator.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/tables/ItemDataTable.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DataIteratorsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DataTablesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataIteratorsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SimpleTablesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ChipAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/DataTableAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/SimpleTableAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Chip.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataIterator.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataTable.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/SimpleTable.java
Labels: Vuetify

#4117 Task4095_BottomNavigationTestsImprovement
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/BottomNavigationText.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BottomNavigationTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BottomNavigationAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/BottomNavigation.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/complex/ISelector.java
Labels: Vuetify, Refactoring

#4154 4101- Lazy component refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/lazyComponent/LazyCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/LazyPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/LazyTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDILazy.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/LazyAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Lazy.java
Labels: Vuetify

#4156 Task4107 button group to add tests to check get button by text method
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/ButtonNames.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ButtonGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/VuetifyButtonGroupsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ButtonGroup.java
Labels: Vuetify, Refactoring

#4172 Task 4163: Add tests for features of element "badge" on a test-site
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BadgesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/BadgeTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BadgeAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Badge.java
Labels: Vuetify

#4125 Task 4103 - Vuetify Bottomsheets refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/bottomsheets/ListBottomSheet.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/BottomSheetsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BottomSheetAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/BottomSheet.java
Labels: Vuetify

#4190 Vuetify develop image tests fix
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/ImagesTestsData.java
Labels: Vuetify

#4105 Task 4097: Vuetify - Carousel Refactoring
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/CarouselContent.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/asserts/CarouselContentAssert.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/CarouselsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CarouselsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CarouselAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ImageAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Carousel.java
Labels: Vuetify, Refactoring

#4078 3833 slidegroup refactoring vuetify
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SlideGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/TooltipsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/VuetifyButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SlideGroupsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SlideGroupAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/SlideGroup.java
Labels: Vuetify

#4211 Task4210_FixFailingButtonsTests
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ButtonsDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ButtonsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/VuetifyButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/VuetifyButtonGroupsTests.java
Labels: 🐞 bug, Vuetify, Refactoring

#4239 Task 4163: Add tests for feature "tile" of element "badge" on a test-site
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/BadgeTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BadgeAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Badge.java
Labels: Vuetify
