Repository jdi-testing/jdi-light, pull requests merged in 2022-11, with the labels that each got.

#4035 Task #3487: Angular rework - Divider
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/main/java/io/github/com/pages/sections/DividerSection.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/DividerTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/unit/DividerUnitTests.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/asserts/DividerAssert.java
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/common/Divider.java
Labels: Angular, Refactoring

#3909 Convert checkstyle.xml to new ver. 10
  config/checkstyle/checkstyle.xml
Labels: ✔️ Check Style

#4477 4420 vuetify dividers: add test for theme + refactor
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/DividersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/FileInputsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/DividerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Divider.java
Labels: Vuetify

#4476 4161 vuetify alerts: add new tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/AlertWithButton.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AlertsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AlertsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SelectsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/AlertsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AlertAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Alert.java
Labels: Vuetify

#4480 4428 vuetify otpinput add new tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/OtpInputPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressLinearTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/OtpInputTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/OtpInputAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/OtpInput.java
Labels: Vuetify

#4486 4161 vuetify avatars refactor tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AvatarsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/AvatarsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/AvatarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Avatar.java
Labels: Vuetify

#4493 4489 vuetify badge refactor tests using interfaces
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/BadgesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/BadgeAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Badge.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/HasAlignment.java
Labels: Vuetify

#4474 4269 refactor fileinputs
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/FileInputsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/FileInputsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/FileInputAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/FileInput.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/HasMessages.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/IsFlat.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/asserts/MessagesAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/asserts/RoundedAssert.java
Labels: Vuetify, Refactoring

#4484 4207 refactor chipgroups
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ChipGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ChipGroupsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/RangeSlidersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ChipGroupAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ChipGroup.java
Labels: Vuetify, Refactoring

#4502 4350 vuetify images: refactor tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ImagesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/ImagesTestsData.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/ImagesTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ImageAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Image.java
Labels: Vuetify

#4497 4233 vuetify virtualscroller refactor tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/VirtualScrollerDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/VirtualScrollerPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/VirtualScrollerTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VirtualScrollerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/VirtualScroller.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/asserts/MeasurementAssert.java
Labels: Vuetify

#4505 4370 vuetify overlay: refactor tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/Colors.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/OverlaysPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/OverlaysTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/NavigationDrawersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/NavigationDrawerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/OverlayAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Overlay.java
Labels: Vuetify

#4504 4305 refactor textfields
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/ValidationWithSubmitClearForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VeeValidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/VuelidateForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TextFieldsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextFieldsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/FormsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/TextFieldsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextFieldAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextField.java
Labels: Vuetify, Refactoring

#4496 4325 refactor textareas
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/textareas/SignUpForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/TextAreasDataProviders.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TextAreaPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TextAreasTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TextAreaAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TextArea.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/IsVuetifyInput.java
Labels: Vuetify, Refactoring

#4508 4336 refactor timepickers
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TimePickersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TimePickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TimePicker.java
Labels: Vuetify, Refactoring
