Repository jdi-testing/jdi-light, pull requests merged in 2022-05, with the labels that each got.

#4012 Task3957_Write_Javadoc_for_Divider_Avatar_Typography_Paper
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/VerticalDividerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/VerticalDividerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/PaperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/AvatarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/DividerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/TypographyAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TransferListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/PaperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Avatar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Divider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Typography.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Paper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/TypographyStyle.java
Labels: documentation, Material-UI

#3986 Task 3977: Refactor ButtonPage
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/ComplexMUIButton.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/MUIButton.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasImage.java
Labels: documentation, Material-UI, Refactoring

#4010 Task 4008: Fix Badge and Card tests
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/CardPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
Labels: Material-UI, Refactoring

#3873 Task 3843: Refactor Slider
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/SlidersPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SliderTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SliderAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SliderRangeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Slider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/SliderRange.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/ISlider.java
Labels: Material-UI, Refactoring

#4019 MUI tests: fixed alertWithButton locator
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/AlertPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/AlertTests.java
Labels: Material-UI

#3990 Task 3956: (Material UI) Write Javadoc for Button, FAB, Backdrop, Snackbar
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/FloatingAnimatedButtonsSection.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/SnackbarPage.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/BackdropAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/SnackbarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Backdrop.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Snackbar.java
Labels: documentation, jdi-light, Material-UI

#4016 Task3951: Write Javadoc for Modal, Popover, Popper, Portal and check TextareaAutosize and UseMediaQuery
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopoverPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/PopperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/ModalTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopoverTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PortalTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TextAreaAutoSizeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/UseMediaQueryTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/PopperDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/ModalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopoverAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PortalAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Modal.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popover.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Portal.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/utils/HasPopover.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/utils/HasPopper.java
Labels: documentation, Material-UI, Refactoring

#4007 Task 3931: Investigate and fix failed test in DialogTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DialogTests.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3942 Task 3856: Refactor Table Test
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/table/CollapsingTable.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/table/InnerTable.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/table/MuiCacheAll.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/table/TableWithFilters.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/table/UserInfoDTO.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/table/WesterosUserDTO.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/TablePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/TableTests.java
Labels: Material-UI, Refactoring, ♻ changes requested

#4006 Task 3945: Write Javadoc for Checkbox, Menu
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MenuTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/MenuAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: documentation, Material-UI, Refactoring

#4011 Task 3976: Verify Bug 3975 and Refactor Transition
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/utils/TransitionPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/TransitionTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/TransitionDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/TransitionAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Transition.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/TransitionType.java
Labels: Material-UI, Refactoring

#4029 Task 3928: (Vuetify) Investigate and fix failed test in date pickers tests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/DatePicker.java
Labels: jdi-light, Vuetify

#4028 Task 3998: Material UI - Verify Bug 3997 and create test for fixed container
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/ContainerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/ContainerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/ContainerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Container.java
Labels: Material-UI, Refactoring

#4031 Replacing deprecated MUIList with MUISimpleList for Dialog element
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/DialogAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
Labels: Material-UI, Refactoring

#4032 Update Angular tests with correct check for display and etc. #2839
  jdi-light-angular-tests/src/main/java/io/github/com/pages/AngularPage.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/IconsTests.java
  jdi-light-angular-tests/src/test/java/io/github/epam/angular/tests/elements/common/InputTests.java
Labels: Angular, Refactoring

#4004 Task 3952: Write javadocs for container and grid
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/GridPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/ContainerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/HiddenTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/ContainerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/GridAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Container.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/Grid.java
Labels: documentation, Material-UI

#4034 Replacing deprecated MUIList with MUISimpleList in Drawer element
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ClippedDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PermanentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ResponsiveDrawerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
Labels: Material-UI, Refactoring
