Repository jdi-testing/jdi-light, pull requests merged in 2022-06, with the labels that each got.

#4027 - Fixed DatePickersTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersTests.java
Labels: 🐞 bug, Vuetify

#3999 Task 3991: Refactor Snackbar
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/SnackbarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/SnackbarsDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/SnackbarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Snackbar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/MessageType.java
Labels: Material-UI, Refactoring

#4040 Task #3948: Material UI - write java doc for Card, Datetime picker, Radio buttons, and Breadcrumbs
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/CollapsedBreadcrumbs.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/ComplexInteractionCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/cards/SimpleCard.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/RouterBreadcrumbsPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/DateTimePickersTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/RadioButtonsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/RouterBreadcrumbsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/SimpleBreadcrumbsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JBreadcrumbs.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/DateTimePickerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/RadioAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/BreadcrumbAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/surfaces/CardAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/DateTimePicker.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/RadioButtons.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Breadcrumbs.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/Card.java
Labels: documentation, Material-UI

#3992 Task 3984: Create prototype for tables
  .gitignore
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/MUITablePage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MUITableTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JMUITable.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JMUITableColumnConfig.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JMUITableColumnFilter.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JMUITableFooter.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JMUITableHeader.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableCellAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableCellContainerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableColumnAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableColumnConfigAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableColumnFilterAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableDefaultCellAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableFooterAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableHeaderAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableJoinedCellAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/table/MUITableRowAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/ColumnSorting.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITable.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableCell.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableCellContainer.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableColumn.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableColumnConfig.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableColumnFilter.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableDefaultCell.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableFooter.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableHeader.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableJoinedCell.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableJoinedColumn.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/table/MUITableRow.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI, Refactoring, 🔍 investigate

#4046 JTable tests fix
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/table/TableWithFilters.java
Labels: Material-UI

#4047 menu tests fix
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SimpleMenuPage.java
Labels: Material-UI

#4017 Task 3996 - Material UI: Refactor GridList
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/layout/GridListTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/GridListDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/layout/GridListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/layout/GridList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasImage.java
Labels: documentation, Material-UI, Refactoring

#4041 Deprecated MUIList removal
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/displaydata/InsetDividerPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/InsetDividerTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/MUIListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/MUIList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/MUIListItem.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/displaydata/IMUIList.java
Labels: Material-UI, Refactoring

#3994 Task 3989: AppBar refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/MiniDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/PersistentDrawerPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AppBarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/BackToTopAppBarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/BottomAppBarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/ElevateAppBarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/HideAppBarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/SimpleAppBarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JAppBar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/AppBar.java
Labels: Material-UI, Refactoring

#4023 Task3995: verify bug 3988 and correct tests for app bar
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/SimpleAppBarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
Labels: Material-UI, Refactoring

#4037 Task #3979 Added assertions and waiter to avoid StaleElementReferenceException
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DesktopStepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/DesktopStepper.java
Labels: Material-UI, Refactoring

#4048 Task 3982: Material UI - Create Interfaces for Element Position Handling
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/AvatarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/BadgeTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/SnackbarTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/SliderTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TextFieldTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ClippedDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PermanentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/ResponsiveDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/SwipeableDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/TemporaryDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/utils/PopperTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/BadgeDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/CheckboxesDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/PopperDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/SnackbarsDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/SnackbarAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/AdornmentAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PopperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/utils/PositionAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Snackbar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Adornment.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/Popper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/Position.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/utils/HasPosition.java
Labels: Material-UI, Refactoring
