Repository jdi-testing/jdi-light, pull requests merged in 2022-02, with the labels that each got.

#3827 3807 - Fix ColorPickerTests
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/ColorPickersDataProviders.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ColorPickerTests.java
Labels: Vuetify, 🔍 investigate

#3799 3756 composite.BottomSheetsTests stability update
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/BottomSheetsTests.java
Labels: Vuetify, Refactoring

#3826 Item Groups are implemented
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/itemGroups/PrimaryItemGroup.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/itemGroups/SelectionItemGroup.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ItemGroupsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ItemGroupsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ItemGroupAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/ItemGroup.java
Labels: Vuetify, Refactoring

#3803 Rating: getValue() is refactored
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/RatingsPage.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JDIRating.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Rating.java
Labels: ⚠ .Codacy, Vuetify, Refactoring, 🔍 investigate

#3822 3814 - DataIteratorsTests
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataIterator.java
Labels: Vuetify, 🔍 investigate

#3835 3688 complex.ListsTests assertions
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ListsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ListsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/VuetifyListAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/VuetifyList.java
Labels: Vuetify

#3820 3816 - Fix LazyTests
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/LazyPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/LazyTests.java
Labels: Vuetify, 🔍 investigate

#3861 Vuetify alerts refactored. #3809
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/AlertWithButton.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AlertsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AlertsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/AlertsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Alert.java
Labels: Vuetify, Refactoring

#3819 3815 - Fix DatePickersTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersTests.java
Labels: Vuetify, 🔍 investigate

#3806 3754 - Fix TreeViewTests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TreeViewTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TreeView.java
Labels: Vuetify, Refactoring, 🔍 investigate

#3837 Bars were refactored
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/bars/AppBarWithTabs.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/bars/ToolbarWithSearch.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/AppBarsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SystemBarsPage.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/ToolBarsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/AppBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SystemBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ToolBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/bars/AppBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/bars/SystemBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/bars/ToolBarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/AppBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/BasicBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/SystemBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/bars/ToolBarAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/AppBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/BasicBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/SystemBar.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/bars/ToolBar.java
Labels: Vuetify, Refactoring

#3802 Vuetify: Calendar tests were fixed
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CalendarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Calendar.java
Labels: Vuetify, Refactoring

#3870 3844 menutest refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/ContextMenuPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/SimpleMenuPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/MenuTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/MenuAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Menu.java
Labels: Material-UI, Refactoring
