Repository jdi-testing/jdi-light, pull requests merged in 2022-04, with the labels that each got.

#3962 Task 3955: Write Javadoc for TextField
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/textfields/MultilineTextField.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/textfields/SelectTextField.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Currency.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/TextFieldTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/AdornmentAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TextFieldAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Adornment.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/TextField.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/utils/enums/Position.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/CanBeFocused.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasAdornment.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasHelperText.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasPlaceholder.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/inputs/HasValidationError.java
Labels: documentation, Material-UI

#3967 Task 3955: Write Javadoc for Link, Progress
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/feedback/ProgressPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/LinearProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/generic/IColorAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/LinkAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/CircularProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/LinearProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/Progress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Link.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasColor.java
Labels: documentation, Material-UI

#3968 Task3887: Steppers refactoring
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/steppers/VerticalStep.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/steppers/VerticalStepper.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DesktopStepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/MobileStepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/StepperWithProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/AbstractStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/DesktopStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileDotsStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileProgressStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/MobileTextStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/Step.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/steppers/Stepper.java
Labels: Material-UI, Refactoring

#3983 Task 3946: Write javadoc for drawer, list, box
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/layout/BoxPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MUIListTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/MUIListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/MUIListItemAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/DrawerAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/MUIList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/MUIListItem.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Drawer.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/CanBeDisabled.java
Labels: documentation, Material-UI

#3974 Task 3950: Write Javadoc for Switch, Chip
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/ChipTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/ChipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/SwitchAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Chip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Switch.java
Labels: documentation, Material-UI

#3969 Task 3947: Add javadoc to Dialog, Badge, Icon, Tooltip
  jdi-light-material-ui-tests/src/main/java/io/github/com/custom/elements/BadgeContainer.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/DialogTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/BadgeAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/IconAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/TooltipAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/DialogAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Icon.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Tooltip.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/displaydata/HasBadge.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/displaydata/HasIcon.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/displaydata/HasTooltip.java
Labels: documentation, Material-UI

#3987 Task 3958: Written Javadoc for Bottom Navigation, Tabs and App Bar.
  jdi-light-material-ui-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/TabPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/AppBarPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/surfaces/ElevateAppBarPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/MiniDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/drawer/PersistentDrawerTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/AppBarTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JAppBar.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/TabsAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/BottomNavigation.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Tabs.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/surfaces/AppBar.java
Labels: documentation, Material-UI

#3960 Task 3954: Implement JavaDoc for TransferList
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/TransferListAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/EnhancedTransferList.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/transferlist/TransferList.java
Labels: documentation, Material-UI

#3993 Logback configuration
  jdi-light-material-ui-tests/pom.xml
  jdi-light-material-ui-tests/src/test/resources/logback.xml
Labels: Material-UI

#3980 Task 3963: Work with ButtonGroup as with list
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/inputs/ButtonGroupPage.java
  jdi-light-material-ui-tests/src/main/java/io/github/com/pages/navigation/StepperPage.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/ButtonGroupTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/StepperTests.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JButtonGroup.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/annotations/JStepper.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/ButtonGroupAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/Dialog.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/ButtonGroup.java
Labels: Material-UI, Refactoring

#4002 Task 3978: Delete Hascolor and IColorAssert
  jdi-light-material-ui-tests/src/test/java/io/github/epam/enums/Colors.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/IconsTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MUIListTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/displaydata/MaterialIconTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/feedback/ProgressTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/inputs/CheckboxTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/navigation/LinkTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/material/tests/surfaces/CardTests.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/IconsDataProvider.java
  jdi-light-material-ui-tests/src/test/java/io/github/epam/test/data/MaterialIconDataProvider.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/displaydata/IconAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/LinearProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/feedback/ProgressAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/generic/IColorAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/inputs/CheckboxAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/asserts/navigation/LinkAssert.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Badge.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/displaydata/Icon.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/LinearProgress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/feedback/progress/Progress.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/inputs/Checkbox.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/elements/navigation/Link.java
  jdi-light-material-ui/src/main/java/com/epam/jdi/light/material/interfaces/base/HasColor.java
Labels: Material-UI, Refactoring, 🔍 investigate
