Repository jdi-testing/jdi-light, pull requests merged in 2023-02, with the labels that each got.

#4766 4751 was finished: Hover removed, HoverPage removed, HoverTests remov…
  jdi-light-vuetify-tests/src/main/java/io/github/com/StaticSite.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/MusicHoverCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/HoverPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/HoverTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Hover.java
Labels: Vuetify, Refactoring

#4755 Task4711 add and refactor tests for features of element slider
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/forms/RulesVuetifyForm.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SlidersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SparklinesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/RatingsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SlidersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/FormsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/SliderTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SliderAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Slider.java
Labels: Vuetify, Refactoring

#4763 vuetify-develop-4744-_fix-overlay-zIndex-method
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Overlay.java
Labels: jdi-light, Vuetify

#4738 Task 4727: Refactor Icon class and tests
  jdi-light-vuetify-tests/src/main/java/io/github/com/dataproviders/IconsDataProvider.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/MdiIcons.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/IconsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/IconsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BreadcrumbsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/TabsTestsDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/IconAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Icon.java
Labels: Vuetify, Refactoring

#4754 4746 Refactor placeholderOverflowButtonTest
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/OverflowButtonsTests.java
Labels: Vuetify, Refactoring

#4774 TreeView class was split into two: TreeView and TreeViewNode
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TreeViewTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TreeViewAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TreeViewNodeAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TreeView.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TreeViewNode.java
Labels: Vuetify

#4713 [WIP]4593 data tables
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/tables/ExternalPaginationTable.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/tables/LoadingDataTable.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/tables/RowSelectionDataTable.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/tables/SimpleCheckboxDataTable.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/enums/Colors.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DataTablesPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataIteratorsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SimpleTablesTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/ProgressLinearAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/DataTableAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/SimpleTableAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/ProgressLinear.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataTable.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/SimpleTable.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/TableCheckbox.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/enums/SortOrder.java
  jdi-light/src/main/java/com/epam/jdi/light/elements/common/UIElement.java
Labels: Vuetify, Refactoring

#4775 4749 Add description to all the tests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AlertsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AspectRatiosTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/AvatarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/BadgesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/DividersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ImagesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/ProgressCircularTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SnackbarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SwitchesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/TooltipsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/VuetifyButtonsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/AutocompletesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BannersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ChipGroupsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/ColorPickersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/FileInputsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/LazyTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/MenusTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/NavigationDrawersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/OtpInputTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SelectsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/SimpleTablesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimelinesTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/VirtualScrollerTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/bars/SystemBarsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/ParallaxTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/composite/SheetsTests.java
Labels: Vuetify, Refactoring

#4770 Task 4748 - Refactor for Menus
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/MenusTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/MenuAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Menu.java
Labels: Vuetify, Refactoring

#4765 4741 refactoring for vuetify time picker element
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/TimePickersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/annotations/JTimePicker.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/InputAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/TimePickerAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Input.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Dialog.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TimePicker.java
Labels: Vuetify, Refactoring

#4731 [WIP] Task 4706: Add Data-Iterators tests
  jdi-light-angular/src/main/java/com/epam/jdi/light/angular/elements/complex/Card.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/cards/ButtonCard.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/DataIteratorsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DataIteratorsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DatePickersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/DataIteratorDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/CardAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/tables/DataIteratorAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Card.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/tables/DataIterator.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/enums/Themes.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/asserts/ThemeAssert.java
Labels: Vuetify, Refactoring

#4760 4747 Refactor OverlayTests
  jdi-light-vuetify-tests/src/main/java/io/github/com/custom/OverlayWithCloseButton.java
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/OverlaysPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/OverlaysTests.java
Labels: Vuetify, Refactoring

#4772 4735 refactor tests bottom navigation leftovers
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/BottomNavigationPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/BottomNavigationTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/DialogsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Card.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/interfaces/IsScrollable.java
Labels: Vuetify, Refactoring

#4783 4668 redundant methods removal for Sheet
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/SheetsPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SheetsTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/common/SubheadersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/SheetAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/common/Sheet.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/composite/Sheet.java
Labels: Vuetify, Refactoring

#4779 Fix for LocalTime parsing error
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/TimePickersTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/TimePicker.java
Labels: 🐞 bug, Vuetify

#4773 Task4739: Add and refactor tests for features of element RangeSlider on a test-site
  jdi-light-vuetify-tests/src/main/java/io/github/com/pages/RangeSlidersPage.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/RangeSlidersTests.java
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/data/RangeSlidersDataProvider.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/asserts/RangeSliderAssert.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/RangeSlider.java
Labels: Vuetify, Refactoring

#4768 [WIP]Task 4737: Implement additional Calendar tests
  jdi-light-vuetify-tests/src/test/java/io/github/epam/vuetify/tests/complex/CalendarsTests.java
  jdi-light-vuetify/src/main/java/com/epam/jdi/light/vuetify/elements/complex/Calendar.java
Labels: Vuetify, Refactoring
